<div class="btn-group btn-group-sm edit-agent-filter" role="group" ng-controller="agentsUpdateController" uib-dropdown>
    <button class="btn btn-default" ng-click="updateAgents()" ng-disabled="noAgentSelected()"><span class="glyphicon glyphicon-pencil"></span></button>
    <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="noAgentSelected()"  uib-dropdown-toggle aria-haspopup="true" aria-expanded="false" id="agents-edit-dropdown">
        <span class="caret"></span>
        <span class="sr-only" translate="BTN_DROPDOWN"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="agents-edit-dropdown">
        <li><a href ng-click="updateAgents()"><span class="glyphicon glyphicon-pencil"></span>{{'AGENT_VIEW_EDIT' | translate}}</a></li>
        <li role="separator" class="divider"></li>
        <li><a href ng-click="createBaseConfiguration()"><span class="glyphicon glyphicon-th-large success"></span>{{'AGENT_VIEW_CREATE_DEFAULT_CONFIGURATION' | translate}}</a></li>
        <li><a href ng-click="createBaseFromCurrent()"><span class="glyphicon glyphicon-th-large"></span>{{'AGENT_VIEW_CREATE_DEFAULT_FROM_CURRENT' | translate}}</a></li>
    </ul>
</div>
