<table ng-table="callbackTable" class="table table-condensed table-striped callback-table" show-filter="true">
    <tr ng-repeat="row in $data">
        <td data-title="'CB_COL_PHONE' | translate" filter="{phoneNumber: 'text'}" sortable="'phoneNumber'">{{row.phoneNumber}}</td>
        <td data-title="'CB_COL_MOBILE' | translate" filter="{mobilePhoneNumber: 'text'}" sortable="'mobilePhoneNumber'">{{row.mobilePhoneNumber}}</td>
        <td data-title="'CB_COL_FIRSTNAME' | translate" filter="{firstname: 'text'}" sortable="'firstname'">{{row.firstName}}</td>
        <td data-title="'CB_COL_LASTNAME' | translate" filter="{lastname: 'text'}" sortable="'lastname'">{{row.lastName}}</td>
        <td data-title="'CB_COL_COMPANY' | translate" filter="{company: 'text'}" sortable="'company'">{{row.company}}</td>
        <td data-title="'CB_COL_DUEDATE' | translate" filter="{dueDate: 'assets/javascripts/ccmanager/directives/date.html'}" sortable="'dueDate'">{{row.dueDate}}</td>
        <td data-title="'CB_COL_PERIOD' | translate"><i class="glyphicon glyphicon-time clock state-{{row.dueStatus}}"></i>{{row.preferredPeriod.name}}</td>
        <td data-title="'CB_COL_DESCRIPTION' | translate">{{row.description}}</td>
        <td data-title="'CB_COL_CLOTURED' | translate" filter="{clotured: 'select'}" filter-data="filterDataClotured">{{row.cloturedI18n}}</td>
        <td data-title="'CB_COL_TAKENBY' | translate" filter="{agentId: 'select'}" filter-data="filterDataAgents">{{row.agent.firstName}} {{row.agent.lastName}}</td>
    </tr>
</table>
