@()(implicit i18nMessages: Messages)

@import play.i18n._
<div class="show-grid call-control calls-outside-header" ng-controller="CallControlController">
    <table class="table table-no-margin">
        <tbody>
            <tr ng-repeat-start="call in calls" class='table-row-call' ng-if="!conference.active" ng-mouseenter="updateNameWidthOnMouseenter()" ng-mouseleave="nameWidthBackToNormal()">
                <td class="call-state" ng-class="{'extended': isWebRtcActive()}">
                    <span class="volume-state" ng-if="isWebRtcActive()">
                        <volume-meter mic-or-audio="audio" sip-call-id="{{call.userData.SIPCALLID}}" show="call.state=='Established'"></volume-meter>
                        <volume-meter mic-or-audio="mic" sip-call-id="{{call.userData.SIPCALLID}}" show="call.state=='Established'"></volume-meter>
                    </span>
                    <i class="fa" ng-class="faClassFromState(call.state)" aria-hidden="true"></i>
                </td>
                <td class="call-name">
                    <span class="call-party-name call-wrapped-name" ng-if="!call.conference">                        
                        <p long-text ="{{call.otherDName ? call.otherDName + ' ' + call.otherDN : call.otherDN}}" max-chars="{{currentNameColumnWidth}}"></p>
                    </span>
                    <span ng-if="call.conference" class="conference-name">
                        {{call.conference.conferenceName}} {{call.conference.conferenceNumber}}
                    </span>
                    <span ng-if="call.conference && call.conference.participants.length==1" class="conference-participant-count">
                        @i18nMessages("phonebar.conference_one_participant")
                    </span>
                    <span ng-if="call.conference && call.conference.participants.length>1" class="conference-participant-count">
                        {{call.conference.participants.length}} @i18nMessages("phonebar.conference_participant_count")
                    </span>
                </td>
                <td class="call-duration-actions">
                    
                    <span class ="pull-right" ng-if="!call.conference" elapsed-time-from="call.startTime"></span>
                    <span class ="pull-right" ng-if="call.conference" elapsed-time-from="call.conference.startTime"></span>
                    <div class="call-actions pull-right">
                        
                        <a class="call-keyboard pull-right" ng-if="call.state === 'Established' && isWebRtcActive()"
                         href ng-click="showKeyboard()" ng-init="variant='default'" ng-mouseover="variant='over'" ng-mouseout="variant='default'"
                         title="@i18nMessages("phoneKeyboard.showKeyboard")">
                           <img ng-src="/assets/images/xchelper/keyboard/dtmf_{{variant}}.svg" />
                        </a>
                        <a class="flashtext-bubble pull-right" ng-if="canSendFlashtext(call, call.username)" 
                        ui-sref="interface.partyMessages({user: call.username, displayName: call.otherDName})"
                        ui-sref-opts="{ reload: true }"
                        title="{{'FLASHTEXT' | translate}}">
                            <i class="fa fa-commenting"></i>
                        </a>
                        <a class="call-hold pull-right" href ng-click="hold()" ng-if="call.state === 'OnHold' && calls.length === 1" title="@i18nMessages("phonebar.unhold")">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </a>
                        <a class="call-hold pull-right" href ng-click="hold()" ng-if="call.state === 'Established' && calls.length === 1" title="@i18nMessages("phonebar.hold")">
                            <i class="fa fa-pause-circle" aria-hidden="true"></i>
                        </a>
                        <a class="call-conference pull-right" href ng-click="makeConference()" ng-if="call.state === 'OnHold' && calls.length > 1 && isConferenceCapable() && !isAnyCallVideo(calls)" title="@i18nMessages("phonebar.conference")">
                            <i class="fa fa-compress" aria-hidden="true"></i>
                        </a>
                        <a class="call-transfer pull-right" href ng-click="transfer()" ng-if="call.state === 'OnHold' && calls.length === 2 && !isWebRtcActive() && !isAnyCallVideo(calls)" title="@i18nMessages("phonebar.attended_transfer")">
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </a>
                        <a class="call-transfer pull-right" href ng-click="transfer()" ng-if="call.state === 'OnHold' && calls.length === 2 && isWebRtcActive() && !isAnyCallVideo(calls)" title="@i18nMessages("phonebar.complete_transfer")">
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </a>
                        <a class="conference-mute-all pull-right" href ng-click="conferenceMuteAll(call.conference.conferenceNumber)" ng-if="call.conference && canMuteAll(call.conference)" title="@i18nMessages("phonebar.mute_all")">
                            <div class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-microphone-slash fa-stack-1x fa-inverse"></i>
                            </div>
                        </a>
                        <a class="conference-unmute-all pull-right" href ng-click="conferenceUnmuteAll(call.conference.conferenceNumber)" ng-if="call.conference && canUnmuteAll(call.conference)" title="@i18nMessages("phonebar.unmute_all")">
                            <div class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                            </div>
                        </a>
                        <a class="call-answer pull-right" href ng-click="answer()" ng-if="call.state === 'Ringing'"  title="@i18nMessages("phonebar.answer")">
                            <i class="fa fa-phone" aria-hidden="true"></i>        
                        </a>

                        <a class="call-hangup pull-right"
                           href ng-click="hangup()" ng-if="call.state === 'Established' || (call.state === 'Ringing' && calls.length < 2) || call.state === 'Dialing'"
                           title="@i18nMessages("phonebar.hangup")">
                        <img src="/assets/images/ucassistant/call_hangup.svg"/>
                        </a>   
                                                
                    </div>
                </td>
            </tr>
            <tr class='table-row-confcall' ng-repeat="participant in call.conference.participants | orderBy:['-isMe', 'callerIdName']" ng-if="call.conference">
                <td colspan="3" class="no-padding">
                    <table class="table-no-margin no-border">
                        <tbody class="no-border">  
                            <tr class="conferences role-{{participant.role | lowercase}}" ng-class="{'kicked': participant.kicked}">                 
                                <td></td>
                                <td class="conference-participant-muted">
                                    <i class="fa fa-microphone-slash participant-muted pull-right" ng-class="{'inactive': !participant.isMuted}"></i> 
                                </td>
                                <td class="call-name" title="{{'CONFERENCE_' + participant.role | uppercase | translate}}" ng-mouseover="hoverOnParticipant()">   
                                    <div class="call-state"><i class="fa fa-compress" aria-hidden="true"></i>
                                        <span class="call-party-name"> 
                                            <p long-text ="{{participant.callerIdName}} {{participant.callerIdNum}}" max-chars="18"></p>
                                        </span>
                                        <i class="fa fa-volume-up participant-speaking" ng-class="{'inactive': !participant.isTalking}"></i>
                                    </div> 
                                </td>
                                
                                <td class="call-duration-actions">
                                    <span class="pull-right" elapsed-time-from="participant.startTime"></span>
                
                                    <div class="call-actions pull-right" ng-if="!displayParticipantActions(call.conference, participant)">
                                        <a class="flashtext-bubble pull-right" ng-if="canSendFlashtext(call, participant.username)" 
                                        ui-sref="interface.partyMessages({user: participant.username, displayName: participant.callerIdName})"
                                        ui-sref-opts="{ reload: true }"
                                        title="{{'FLASHTEXT' | translate}}">
                                            <i class="fa fa-commenting"></i>
                                        </a>         
                                    </div>
                                    
                                    <div class="call-actions pull-right" ng-if="displayParticipantActions(call.conference, participant)">
                                        <div ng-if="call.conference.currentUserRole == 'User'">
                                            <a class="participant-mute-me pull-right" href ng-click="conferenceMuteMe(call.conference.conferenceNumber)" ng-if="participant.isMe && !participant.isMuted" title="@i18nMessages("phonebar.mute")">
                                                <div class="fa-stack">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-microphone-slash fa-stack-1x fa-inverse"></i>
                                                </div>
                                            </a>
                                            <a class="participant-mute-me pull-right" href ng-click="conferenceUnmuteMe(call.conference.conferenceNumber)" ng-if="participant.isMe && participant.isMuted" title="@i18nMessages("phonebar.unmute")">
                                                <div class="fa-stack">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="managed-conferences" ng-if="call.conference.currentUserRole == 'Organizer'">
                                            <a class="call-hangup hangup-participants pull-right"
                                            ng-if="participant.role != 'Organizer'"
                                            href ng-click="conferenceKick(call.conference.conferenceNumber, participant)"
                                            title="@i18nMessages("phonebar.conference_kick")">
                                                <img src="/assets/images/ucassistant/call_hangup.svg"/>
                                            </a>
                                            <a class="participant-mute-me pull-right" href ng-click="conferenceMute(call.conference.conferenceNumber, participant.index)" ng-if="!participant.isMuted" title="@i18nMessages("phonebar.mute")">
                                                <div class="fa-stack">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-microphone-slash fa-stack-1x fa-inverse"></i>
                                                </div>
                                            </a>
                                            <a class="participant-mute-me pull-right" href ng-click="conferenceUnmute(call.conference.conferenceNumber, participant.index)" ng-if="participant.isMuted" title="@i18nMessages("phonebar.unmute")">
                                                <div class="fa-stack">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                                                </div>
                                            </a>
                                            
                                           <div ng-if="!participant.isMe">
                                                <a class="flashtext-bubble pull-right" ng-if="canSendFlashtext(call, participant.username)" 
                                                ui-sref="interface.partyMessages({user: participant.username, displayName: participant.callerIdName})" title="{{'FLASHTEXT' | translate}}"
                                                ui-sref-opts="{ reload: true }">
                                                    <i class="fa fa-commenting"></i>
                                                </a> 
                                           </div> 
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="isVideo(call)">
                <td colspan="3">
                    <div fullscreenable id="video-container" class="video-container" ng-dblclick="toggleFullscreen()">    
                        <video-wrapper sip-call-id="{{call.userData.SIPCALLID}}"></video-wrapper>
                        <button class="fullscreen-button" ng-click="toggleFullscreen()">
                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
            
            <tr ng-if="conference.active" class="conference conference-title">
                <td class="call-state">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </td>
                <td class="call-name">@i18nMessages("phonebar.conference")</td>
                <td class="call-duration-actions">
                    <span elapsed-time-from="conference.startTime"></span>
                    <div class="call-actions">
                        <a class="call-hold" href ng-click="hold()">
                            <i class="fa fa-pause-circle" aria-hidden="true"></i>
                        </a>
                        <a class="call-hangup" href ng-click="hangup()">
                            <img src="/assets/images/ucassistant/call_hangup.svg"/>
                        </a>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="call in calls" ng-if="conference.active" class="conferences table-row-confcall">
                <td></td>
                <td class="call-name">
                    <div class="call-state">
                        <i class="fa fa-compress" aria-hidden="true"></i>
                        <span class="call-name-detail">{{call.otherDN}}</span>
                    </div>
                </td>
                <td class="call-duration-actions">
                    <span elapsed-time-from="call.startTime"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
