@()(implicit i18nMessages: Messages)

<div>
    <h2 class="panelTitle"> @i18nMessages("title.conference")</h2>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>@i18nMessages("confRoom.number")</th>
                <th>@i18nMessages("confRoom.name")</th>
                <th>@i18nMessages("confRoom.pinRequired")</th>
                <th>@i18nMessages("confRoom.members")</th>
                <th>@i18nMessages("confRoom.startTime")</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="confRoom in confRooms">
                <td><a href><call-action-dropdown icon="glyphicon glyphicon-phone-alt" label="{{confRoom.number}}"></call-action-dropdown></a></td>
                <td>{{confRoom.name}}</td>
                <td>{{confRoom.pinRequired | booleanText}}</td>
                <td>{{confRoom.members.length}}</td>
                <td>{{getStartTime(confRoom)}}</td>
            </tr>
        </tbody>
    </table>
</div>
