@()

<script type="text/ng-template" id="confirmDialog.html">
    <div class="modal-header"></div>
    <div class="modal-body">
        <div class="confirmation-title">
            {{modalCtrl.params.deleteAll ? 'CONTACT_CONFIRMATION_DELETE_ALL_TITLE' : 'CONTACT_CONFIRMATION_DELETE_TITLE' | translate}}
        </div>
        <div class="confirmation-text">
            {{modalCtrl.params.deleteAll ? 'CONTACT_CONFIRMATION_DELETE_ALL' : 'CONTACT_CONFIRMATION_DELETE' | translate}}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning pull-left" ng-click="modalCtrl.close()">
            {{'CONTACT_CONFIRMATION_DECLINE' | translate}}
        </button>
        <button class="btn btn-primary pull-right" ng-click="ctrl.remove()">
            {{'CONTACT_CONFIRMATION_APPLY' | translate}}
        </button>
    </div>
</script>