@()

<td class="user-status user-status{{contact.status}}" title="{{getPhoneStateLabel(contact.status) | translate}}"></td>
<td class="favorite" ng-hide='contact.favorite'>
    <a ng-click="addFavorite(contact)" href="">
        <span class="glyphicon glyphicon-star-empty glyph-btn"></span>
    </a>
</td>
<td class="favorite" ng-show='contact.favorite'>
    <a ng-click="removeFavorite(contact)" href="">
        <span class="glyphicon glyphicon-star glyph-btn favorite"></span>
    </a>
</td>
<td class="text-left name">{{contact.entry[0]}}</td>
<td class="edit action" ng-show="isPersonal(contact)" ui-sref="interface.personalContact({id: contact.contact_id})">
    <i class="fa fa-pencil"></i>
</td>
<td class="edit" ng-show="!isPersonal(contact)"></td>
<td class="call">
    <span ng-if="isCallable(contact)">
        <span ng-show="!contact.hover">
            <i class="fa fa-phone"></i>
        </span>
        <span ng-show="contact.hover">
            <call-action-dropdown contact="contact" enable-video="videoEnabled" enable-flashtext="true" email-max-chars="38"></call-action-dropdown>
        </span>
    </span>
</td>

