@()

<div class="show-grid">
  <div class="no-result" ng-if="history.length == 0" translate="NO_HISTORY"></div>
  <div>
    <div ng-repeat="dayHistory in history" class="history-container">
      <div class="title-header">
        <div class="messages-header">
          <div>{{formatHistoryDay(dayHistory.day)}}</div>
        </div>
      </div>
      <div ng-repeat="callDetail in dayHistory.details" class="history-highest parent-clickable" ng-class="getDisplayClass(callDetail)">
        <div class="history-detail history-grid">
          <div class="call-informations history-grid-item" ng-click="showChildrens(callDetail)">
            <div class="user-status">
              <i ng-class="getChevronClass(callDetail)"
                class="fa fa-chevron-right children-chevron" aria-hidden="true"></i>
              <img ng-src="{{statusImage(callDetail.callDetailList[0].status)}}" />
            </div>
            <div class="history-phone">
              <span ng-if="callDetail.targetFirstName || callDetail.targetLastName">
                {{callDetail.targetFirstName}} {{callDetail.targetLastName}}
              </span>
              <span ng-if="!(callDetail.targetFirstName || callDetail.targetLastName)">
                {{callDetail.targetNumber}}
              </span>
              <span ng-if="callDetail.childCount > 1"><i>({{callDetail.childCount}})</i></span>
            </div>
            <div class="history-children">
              <i class="fa fa-clock-o"></i> {{callDetail.callDetailList[0].start | toHoursMinutes}}
            </div>
          </div>
          <div class="history-grid-item history-time-one"
            ng-if="(callDetail.targetFirstName || callDetail.targetLastName)">
            <div class="parent-call" ng-click="dial(callDetail.targetNumber)"><i class="fa fa-phone"
                aria-hidden="true"></i>
            </div>
          </div>
          <div class="history-grid-item history-time-two"
            ng-if="!(callDetail.targetFirstName || callDetail.targetLastName)">
            <div class="parent-add"
              ng-click="createContact(callDetail.targetNumber,callDetail.targetFirstName,callDetail.targetLastName)"
              title="{{'CONTACT_ADD' | translate}}">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </div>
            <div class="parent-call" ng-click="dial(callDetail.targetNumber)"><i class="fa fa-phone"
                aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="history-children-details history-child-grid"
          ng-repeat="callChilds in callDetail.callDetailList">
          <div class="children-status history-child-grid-item">
            <img ng-src="{{statusImage(callChilds.status)}}" />
          </div>
          <div class="children-start history-child-grid-item">
            <span><i class="fa fa-calendar"></i> {{callChilds.start | toUserFriendlyDate}}</span>
          </div>
          <div class="children-duration history-child-grid-item">
            <span><i class="fa fa-hourglass-half"></i> {{callChilds.duration | callDuration}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>