@()(implicit i18nMessages: Messages)


<div class="main-app" container-resizable ng-cloak>
    @userbar()
    @sidebar()
    <div ui-view class="content-view"></div>
    <div class="footer">
        <img class="logo-footer" src="@routes.Assets.versioned("images/ucassistant/head-icon.svg")"/>
        <span class="version pull-right">@(server.info.BuildInfo.version)</span>
        <a class="logout-button" title="{{'LOGOUT' | translate}}" ng-click="logout()"><i class="fas fa-power-off"></i></a>
    </div>
</div>

