@()

<div class="modal-header modal-menu">
    <span>{{'CONFIGURATION_MENU' | translate}}</span>
    <button type="button" class="close" ng-click="ctrl.close('interface.favorites')"><i class="fa fa-times"></i></button>
</div>

<div class="modal-body">
    <div ng-if="ajaxRequest.ongoing" class="import-loading fa fa-spinner fa-pulse fa-fw fa-2x"></div>
    <div ng-messages='ajaxRequest'>
        <div ng-message='error'>
            <div class="alert alert-danger">
                <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_IMPORT_GENERIC' | translate}}
            </div>
        </div>
        <div ng-message='errorInvalidContact'>
            <div class="alert alert-danger">
                <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_IMPORT_INVALID' | translate}}
            </div>
        </div>
        <div ng-message='errorUnreachable'>
            <div class="alert alert-danger">
                <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_UNREACHABLE' | translate}}
            </div>
        </div>
        <div ng-message='errorInvalidFileType'>
            <div class="alert alert-danger">
                <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_INVALID_FILE_TYPE' | translate}}
            </div>
        </div>
        <div ng-message='errorFileTooLarge'>
            <div class="alert alert-danger">
                <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_FILE_TOO_LARGE' | translate}}
            </div>
        </div>
        <div ng-message='errorNotHandledError'>
            <div class="alert alert-danger">
                <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_IMPORT_GENERIC' | translate}}
            </div>
        </div>
        <div ng-message='success'>
            <div class="alert alert-success text-left">
                <b>{{'CONTACT_IMPORTED' | translate}}</b>
                <ul>
                    <li><b>{{imported.created.length}}</b> {{'CONTACT_IMPORTED_SUCCESS' | translate}}</li>
                    <li ng-show="imported.failed.length > 0"><b>{{imported.failed.length}}</b>
                        {{'CONTACT_IMPORTED_FAILURE' | translate}}
                        <small>
                            <div class="well well-sm help-block">
                                <span ng-repeat="error in imported.failed">
                                    {{'CONTACT_IMPORTED_FAILURE_LINE' | translate}}: <b>{{error.line}}</b><br>
                                </span>
                            </div>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-header">
        <span>{{'CONTACT_MANAGEMENT' | translate}}</span>
    </div>
    <div class="menu-item" ui-sref="interface.personalContact">
        <span>{{'CONTACT_MENU_CREATE' | translate}}</span>
        <span class="pull-right"><i class="fa fa-user-plus"></i></span>
    </div>
    <div class="menu-item" ng-click="ctrl.uploadFile()">
        <input type="file" id="import-contacts" class="hide" file-input ng-model="importFile" accept=".csv,text/csv">
        <span>{{'CONTACT_MENU_IMPORT' | translate}}</span>
        <span class="pull-right"><i class="fa fa-upload"></i></span>
    </div>
    <div class="menu-item" ng-click="ctrl.export()" target="_blank">
        <span>{{'CONTACT_MENU_EXPORT' | translate}}</span>
        <span class="pull-right"><i class="fa fa-download"></i></span>
    </div>
    <div class="menu-item" ng-click="ctrl.confirmDelete()">
        <span>{{'CONTACT_MENU_DELETE_ALL' | translate}}</span>
        <span class="pull-right"><i class="fa fa-trash"></i></span>
    </div>
    <div ng-if="ctrl.isWebRtc()">
        <div class="menu-header">
            <span>{{'AUDIO_MANAGEMENT' | translate}}</span>
        </div>
        <div class="menu-item-nohover">
            <audio-configuration></audio-configuration>
        </div>
    </div>
</div>
