@()(implicit i18nMessages: Messages)

<div ng-controller="ViewController as ctrl" class="clearfix">
    <ul class="navigation">
        <li ng-class="{menuselected : isActive('interface.history')}">
            <a class="btn btn-lg btn-circle btn-dark" ui-sref="interface.history" title="{{'SIDEBAR_HISTORY' | translate}}">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span class="badge ng-binding ng-scope" ng-if="ctrl.missedCalls > 0">{{ctrl.missedCalls}}</span>
            </a>
        </li>

        <li ng-class="{menuselected : isActive('interface.favorites')}">
            <a class="btn btn-lg btn-circle btn-dark" ui-sref="interface.favorites" title="{{'SIDEBAR_FAVORITES' | translate}}">
                <i class="fa fa-star" aria-hidden="true"></i>
            </a>
        </li>

        <li ng-class="{menuselected : isActive('interface.messages')}">
            <a class="btn btn-lg btn-circle btn-dark" ui-sref="interface.messages" title="{{'MESSAGES_HISTORY' | translate}}">
                <i class="fas fa-comment-alt" aria="hidden"></i>
                <span class="badge ng-binding ng-scope"><i class="fas fa-envelope" ng-if="ctrl.hasMessage"> </i></span>
            </a>
        </li>


    </ul>
    <div class="input-group search-form" title="@i18nMessages("phonebar.dialerTooltip")">
        <input class="form-control" type="text" placeholder='@i18nMessages("xivo.dialbox")' id="numberTodial" ng-keyup="ctrl.isEnterKey($event)" ng-model="destination">
        <span class="input-group-btn">
            <button ng-click="ctrl.dialOrSearch()" class="btn btn-default search-btn" id="xuc_search" type="button"><i class="fa {{isPhone ? 'fa-phone' : 'fa-search'}}" aria-hidden="true"></i></button>
        </span>
        <a ng-if="destination" ng-click="ctrl.emptyInput()" class="clearinput" title="{{'EMPTY_INPUT' | translate}}">X</a>
    </div>
    </div>

</div>
    <call-control></call-control>