@()
<div class="header header-container" ng-controller="UserController">
    <span id="toast-container"></span>
    @confirmdialog()
    <div class="user-header-menu">
        <a class="menu" title="{{'USER_CONFIGURATION' | translate}}" href="" ng-click="showMenu()" id="menu"><i class="fa fa-bars"></i></a>
                    <div title="{{'USER_CALL_FORWARDING' | translate}}" ng-mouseover="ctrl.hoverOnContext=true" ng-mouseleave="ctrl.hoverOnContext=false"
                        ng-init="ctrl.hoverOnContext=false" class="context user-header-btn" ng-click="showForward()" class="btn btn-info btn-xs  btn-circle"
                        ng-controller="ForwardController">
                        <img ng-show="!ctrl.hoverOnContext"
                            ng-src="{{'@routes.Assets.versioned("images/ucassistant/")'+ getDisplayIcon() +'_logo.svg'}}" />
                        <img ng-show="ctrl.hoverOnContext"
                            ng-src="{{'@routes.Assets.versioned("images/ucassistant/")'+ getDisplayIcon() +'_logo_hover.svg'}}" />
                        <a id="userForward" popover-placement="bottom">
                            @forwarddialog()
                    </div>
                <a class="user-header-btn" title="{{'USER_VOICEMAIL' | translate}}" ng-controller="VoiceMailController" ng-click="callMailBox()"><span class="fas fa-voicemail"></span><span class="voicemail-badge badge"
                ng-if="voiceMail.newMessages">{{voiceMail.newMessages}}</span>
            </a>
    </div>
    <div class="user-identity">
    <div class="user">{{user.fullName}}</div>
    <div class="forward-number" ng-show="isForwarded()">{{getForwardNumberOrDnd()}}</div>
        </div>
    <div class="user-header-clear"></div>

