<div ng-if="show">
    <div ng-if="micOrAudio=='mic'">
        <div class="progress progress-bar-vertical">
            <div class="progress-bar dark-background-color" role="progressbar" ng-style="{'height': volume + '%' }"></div>
        </div>
        <i class="fa fa-microphone dark-color"></i>
    </div>
    <div ng-if="micOrAudio=='audio'">
        <div class="progress progress-bar-vertical">
            <div class="progress-bar background-primary-color" role="progressbar" ng-style="{'height': volume + '%' }"></div>
        </div>
        <i class="fa fa-volume-up primary-color"></i>
    </div>
</div>