* {
  outline-color: @xivo-primary !important;
}

html, body {
  height: 100%;
}

body {
  background-image: @background-gray;
  letter-spacing: 0.5px;
  padding-top: 0;
  color: @color-normal;
}

body > div {
  margin-left: auto;
  margin-right: auto;
}

#footer {
  margin-top:15px;
  font-size: 12px;
  color: @xivo-dark-gray;
}

textarea {
  resize: vertical;
  font-family: roboto-bold;
  font-size: 15px;
  &::-webkit-input-placeholder { font-family: roboto; }
  &::-moz-placeholder { font-family: roboto; }
}

.modal-dialog {
  position: absolute;
  margin: 0;
  left: 5px;
  top: 175px;
  width: 350px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.modal-header {
  .history {
    height: 42px;
    font-size: 30px;
  }
}

.modal-content {
  color: #fff;
  text-align: center;
}

.modal-content .input-group-addon {
  background-color: @xivo-dark;
}

.modal-content .close {
  color: #fff;
  opacity: .5;
}

.modal-title {
  text-align: center;
}

.modal-footer {
  padding: 0 0 25px 0px;
  text-align: center;
}

.modal {
  .title-icon {
    display:none;
  }

  .onhold-title {
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
  }

  .onhold-timer {
    text-align:center;
    font-weight: bold;
    font-size: 15px;
  }

  .onhold-caller {
    text-align:center;
    font-weight: bold;
    font-size: 22px;
    color: @call-onhold;
  }

 .onhold-center-div {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    text-align: center;
  }

  .onhold-button {
    width: 100%;
    margin-top: 25px;
  }

 .onhold-separator {
    margin-top: 30px;
    margin-bottom: 15px;
    border-top: 1px solid @agent-separator-gray;
  }

 .onhold-footer {
    text-align: center;
    padding: 0 25px 25px 25px;
  }
}

.modal.phone-overlay {
  .modal-dialog {
    left: 0;
    top: 170px !important;
    width: 360px !important;

    td {
      padding: 4px !important;
    }
  }
}

.green {
  color: @green;
}

.orange {
  color: @orange;
}

.red {
  color: @red;
}

.grey {
  color: @grey;
}


/* login page */

.loginlogo {
  margin: 20px 25px -10px 30px;
  text-align: center;
}



