.answer-hangup-box {

  .keyframes(blink; {
    0% { opacity: 0.5; }
    100% { opacity: 1; }
  });

  height: 90px;
  background-color: @xivo-dark-gray;
  color: @xivo-dark-gray;

  &.ring {
    .animation(blink 0.8s linear infinite alternate);
    cursor: pointer;
    background-color: @call-incoming-acd-ringing;
    color: @call-incoming-acd-ringing;

    .circle {
      background:@agent-main-background !important;
    }
  }

  &.hangup {
    cursor: pointer;
    background-color: @red;
    color: @red;

    .circle {
      background:@agent-main-background !important;
    }
  }

  .answer-hangup-call {
    position: relative;
    top: 20px;

    .circle {
      position:relative;
      background: @agent-inactive-phonebox;
      width:50px;
      height:50px;
      text-align:center;
      .border-radius(50px);
      margin: auto;
    }
    .circle i {
      vertical-align:middle;
      position: inherit;
      top:25%;

    }
  }

  @media @main {
    display: none;
  }
}


.call-line, .call-conference {
    @media @sidebar {
      visibility: hidden;
      position: absolute;
      opacity: 0;
    }

    position:relative;
    padding: 6px;
    height: 100%;
    display: grid;
    background-color: #e1e1e1;

    &.call-conference-established {
      background-color: @call-conference-established;

      .conference-inner {
        background-color: @call-conference-inner;
      }

      .conference-border {
        border-bottom: 1px solid @call-border;
      }
    }

    .call-info {
        float: left;
        width: 348px;
        height: 57px;
        padding-top: 1px;

        background-color: #fff;
        font-size: 15px;
        line-height: 1.2;
        color: @xivo-dark;
        
        
        > div {
            float: left;
        }
    }

    .call-icon {
        width: 42px;
        padding: 0 14px;
    }

    .call-party {
        width: 122px;

       &.conference-main {
         padding-top: 2px;
       }

        &.conference-sub {
         width: 165px;
         text-align: right;
         padding-right: 20px;
        }
        
        .call-party-name {
            font-family: roboto-bold;
            white-space: nowrap;
            position: relative;
            top: -2px;
            height: 17px;
        }
    }    

    .call-queue {
        padding-left: 15px;
        width: 155px;
        height: 35px;
        border-left: 1px solid @call-border;

        &.conference-main {
          padding-top: 1px;
        }

        .call-queue-name {
            font-family: roboto-bold;
            white-space: nowrap;
            position: relative;
            height: 17px;
            margin-right: 5px;
        }
    }

    .call-options {
        float: left;
        background-color: #f2f2f2;
        width: 28px;
        height: 56px;

        &.conference-main {
          height: 55px;
          padding-top: 1px;
        }

        div {
            height: 28px;
            padding: 4px 0 0 10px;
            border-bottom: 1px solid #fff;
        }
    }
    
    .call-actions {
        position:absolute;
        right:6px;
        top: 6px;
        display: none;
        width: auto;
        height: 58px;
        background: inherit;

        &.conference-main {
          height: 57px;
        }

        div {
            display: inline-block;
            padding:11px 5px 11px 0;

            &:first-child {
                margin-left: 12px;
            }
        
            &:last-child {
                margin-right: 1px;
            }
        }
    }

    .call-icon, .call-party, .call-queue {
        margin: 12px 0;
    }
        

    &.call-onhold {
        .call-party, .call-queue {
            opacity: .5;
        }
    }

    &:hover, &.call-ringing, &.call-dialing {
         .call-actions {
             display: block;
        }
    }
}
