
.content-view {
  @media @sidebar {
    display: none;
  }

  overflow-x: hidden;
  background-color: @agent-main-background;
  overflow-y: auto;

  .content-header {
    height: 35px;
    background-color: @agent-content-title-background;
    text-align: center;
  }

  .empty-text {
    height: 50px;
    font-family: roboto-italic;
    opacity: 0.5;
    font-size: 15px;
    text-align: center;
  }
}

.externalView {
  height: 100vh;
  width: 100vw;
  border: 0px;
}

.activities-content {
  .enterall {
    margin: 0 0 0 3px !important;
  }

  .fa-circle {
    visibility: hidden;
  }

  .padding-remove {
    padding-top: 5px;
  }

  .force-remove-icon-height {
    height: 31px;
  }

  tr {
    &:not(.empty-text):hover {
      .fa-circle {
        visibility: visible;
      }
    }

    a {
      color: @xivo-dark;
    }

    .fa-phone {
      padding-top: 1px;
      font-size: 18px;
    }

    .fa-list {
      font-size: 17px;
      padding-top: 5px;
    }
  }

  .removeQueue {
    &.disabled {
      color: @agent-content-not-checked;
    }
  }

  tr:hover .removeQueue{
    &.disabled {
      display: none;
    }
  }

  .call-badge {
    margin-top: 3px;
    margin-left: -5px;
  }
}

.customer-header {
  margin: 0px 48px 20px 48px;
  height: 35px;
  border: solid 1px @agent-content-submenu-border;
  display: flex;

  .customer-header-item {
    width: 132px;
    display: inline-flex;
    font-family: roboto-bold;
    font-size: 15px;
    line-height: 2.33;
    color: @agent-content-submenu-color;
    background-color: @agent-content-submenu-background;

    &.inactive {
      opacity: 0.3;
      cursor: pointer;
    }

    &.inactive:hover {
      opacity: 0.5;
    }

    p {
      margin: auto;
    }
  }
}

.customer-content {

  .context-item {
    margin: 10px 48px;
    height: 35px;

    .title {
      font-size: 13px;
      line-height: 1;
      color: @xivo-dark-gray;
    }

    .value {
      font-size: 15px;
      font-family: roboto-bold;
      line-height: 1.5;
      color: @xivo-dark;
    }
  }

  .waiting-agent-answer::after {
    content: url("@{images}/call/waiting_agent_answer.svg");
  }

  .agent-answer::after {
    content: url("@{images}/call/agent_answer.svg");
  }

  .no-agent-answer::after {
    content: url("@{images}/call/no_agent_answer.svg");
  }
}

.agent-content {

  tr {
    &:not(.empty-text):hover {
      .fa-circle {
        visibility: visible;
      }
      td {
        color: @agent-header-foreground;
      }
    }

    a {
      color: @xivo-dark;
    }

    .fa-phone {
      padding-top: 1px;
      font-size: 18px;
    }

    .agent-icon {
      display: block;
      padding-top: 5px;

      svg {
        height: 20px;
        width: 20px;
        viewBox: 0 0 20 20;
      }
    }
  }
}

.search-content {
  .dropdown-menu {
    left: initial;
    right: 0;
    color:#fff;
    background: none;
    border: 0px none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    > li {
      margin-top: 1px;
      float: right;

      .input-group-btn {
        &.group-btn-copy {
          max-width: 296px;
        }
      }
    }
    .btn {
      text-transform: none;
      text-align: left;
      font-family: roboto-bold;
      color: @white;
      .glyphicon, .fa {
        visibility: hidden;
      }
      &:hover {
        background-color: @xivo-dark;
        .glyphicon, .fa {
          visibility: visible;
          color: @xivo-primary;
        }
      }
    }
  }

  th {
    label {
      margin-bottom: 0;
      font-weight: normal;
    }
  }

  tr {
    .fa-circle {
      visibility: hidden;
    }

    .fa-phone {
      padding-top: 1px;
      font-size: 18px;
    }

    .fa-user {
      font-size: 20px;
      padding-top: 3px;
    }

    a {
      color: @xivo-dark;
    }

    &:not(.empty-text):hover {
      .fa-circle {
        visibility: visible;
      }
      td {
        color: @agent-header-foreground;
      }
    }
  }

  .search-results {
    background-color: @agent-search-background;
    min-height: 25px;
    padding: 3px 8px;
    font-size: 13px;
    font-family: roboto-bold;
    color: @agent-content-submenu-color;

    label {
      font-family: roboto;
      font-weight: normal;
      margin-bottom: 0;
    }

    .count-separator {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.history-content {
  tr {
    .fa-circle {
      visibility: hidden;
    }

    .fa-phone {
      padding-top: 1px;
      font-size: 18px;
    }

    .fa-user {
      font-size: 20px;
      padding-top: 3px;
      color: #d0d2d3;
    }

    a {
      color: @xivo-dark;
    }

    &:not(.empty-text):hover {
      .fa-circle {
        visibility: visible;
      }
      td {
        color: @agent-header-foreground;
      }
    }
  }
}

.content-settings-title {
  background-color: @agent-search-background;
  min-height: 25px;
  padding: 3px 8px;
  font-size: 13px;
  font-family: roboto-bold;
  color: @agent-content-submenu-color;
}

.content-settings {
  margin: 10px 20px;
}

.user-status-99, .user-status-2, .user-status-1, .user-status4, {
  &:hover {
    background-color: @agent-content-submenu-background !important;
  }
}

.state-agent-logged-out {
  &:hover {
    background-color: @agent-content-submenu-background !important;
  }
}