<div class="modal-header">
    <h3 class="modal-title">
        Error
    </h3>
</div>
<div class="modal-body">
    {{ errorMessage | translate }}
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">{{'LOGOUT' | translate}}</button>
</div>
