<div class="modal-header">
    <img class="title-icon" src="/assets/images/popup_incoming_call.svg" />
</div>
<div class="modal-body">
    <div ng-show="!isVideo()" class="incoming-title">{{'INCOMING_TITLE' | translate}}</div>
    <div ng-show="isVideo()" class="incoming-title">{{'INCOMING_TITLE_VIDEO' | translate}}</div>
    <div class="incoming-name" ng-if="name.length > 0">{{name}}</div>
    <div class="incoming-number">{{number}}</div>
    <div class="alert alert-info" role="alert" ng-if="calls.length > maxAnswerableCalls">{{'INCOMING_SECOND_CALL_WARNING' | translate}}</div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning pull-left" ng-click="decline()" ng-if="calls.length < 2">{{'INCOMING_DECLINE' | translate}}</button>
    <button class="btn btn-dark pull-left" ng-click="cancel()" ng-if="calls.length > 1">{{'INCOMING_HIDE' | translate}}</button>
    <button class="btn btn-primary pull-right" ng-click="accept()"><span ng-show="isVideo()"><i class="fa fa-video-camera"></i>&nbsp</span>{{'INCOMING_ACCEPT' | translate}}</button>
</div>
