<div class="modal-header">
    <div class="history">{{ keysHistory | limitTo : -20 }}</div>
</div>
<div class="modal-body">

    <table class="table">
        <tbody>
            <tr ng-repeat="row in keyboard">
                <td ng-repeat="key in row" ng-init="variant='default'" ng-mouseover="variant='over'" ng-mouseout="variant='default'">
                    <a href="" ng-click="keyPressed(key)"><img ng-src="/assets/images/xchelper/keyboard/dtmf_{{toSrc(key)}}_{{variant}}.svg"/></a>
                </td>
            </tr>
        </tbody>
    </table>



</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">{{'KEYBOARD_CLOSE' | translate}}</button>
</div>
