<div class="detail-content">
    <div class="empty-text" ng-if="ctrl.callbackTicketNotDone()"><i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i></div>
    <div ng-if="!ctrl.callbackTicketNotDone()">
        <form class="form" name="doCallback">
            <div class="detail-content-item">
                <p class="title">{{'AGT_CONTENT_CLLB_CBSTATUS' | translate}}:</p>
                <div class="body-input input-group">
                    <ui-select ng-model="activeCallback.ticket.status" theme="bootstrap" ng-required="true">
                        <ui-select-match placeholder="{{'AGT_CONTENT_CLLB_SELECT' | translate}}">{{$select.selected.displayName}}</ui-select-match>
                        <ui-select-choices repeat="status.name as status in statuses | filter: {displayName: $select.search}">
                            {{status.displayName}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="detail-content-item" ng-if="activeCallback.ticket.status == 'Callback'">
                <p class="title">{{'AGT_CONTENT_CLLB_NEW_DATE' | translate}}:</p>
                <div class="body-input input-group">
                    <input type="text" placeholder="YYYY-MM-DD"
                           class="form-control input-calendar" uib-datepicker-popup="{{dateFormat}}" is-open="calendar.opened"
                           ng-model="activeCallback.ticket.dueDate" datepicker-options="dateOptions" ng-required="true" show-button-bar="false"
                    />
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-calendar" ng-click="openCalendar()"><i class="fa fa-calendar"></i></button>
                        </span>
                </div>
            </div>

            <div class="detail-content-item" ng-if="activeCallback.ticket.status == 'Callback'">
                <p class="title">{{'AGT_CONTENT_CLLB_NEW_PERIOD' | translate}}:</p>
                <div class="body-input input-group">
                    <ui-select ng-model="activeCallback.ticket.periodUuid" theme="bootstrap" ng-required="true">
                        <ui-select-match placeholder="{{'AGT_CONTENT_CLLB_SELECT' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="period.uuid as period in periods | filter: {name: $select.search}">
                            {{period.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="detail-content-item">
                <p class="title">{{'AGT_CONTENT_CLLB_COMMENT' | translate}}:</p>
                <div>
                    <textarea placeholder="{{'AGT_CONTENT_CLLB_COMMENT_PLACEHOLDER' | translate}}" rows="6" class="form-control" ng-model="activeCallback.ticket.comment"></textarea>
                </div>
            </div>

            <div class="detail-content-buttons grouped">
                <div class="button cancel-button" ng-click="ctrl.releaseCallback()">
                    <p>{{'AGT_CONTENT_CLLB_CANCEL' | translate}}</p>
                </div>
                 <button class="button ok-button" ng-click="ctrl.updateTicket()" ng-disabled="doCallback.$invalid">
                    <p>{{'AGT_CONTENT_CLLB_SAVE' | translate}}</p>
                </button>
            </div>
        </form>
    </div>
</div>