<div class="history-content">
    <table st-table="displayedHistory" st-safe-src="history" class="table table-striped">
        <thead class="no-border">
        <tr>
            <th class="col-xs-6">{{'AGT_CONTENT_HIS_NAME' | translate}}</th>
            <th class="col-xs-2 text-center">{{'AGT_CONTENT_HIS_TYPE' | translate}}</th>
            <th st-sort="start" st-sort-default="true" st-delay="-1"  class="sortable col-xs-2 text-center" >{{'AGT_CONTENT_HIS_DATE' | translate}}</th>
            <th class="col-xs-2 text-center" >{{'AGT_CONTENT_HIS_STATUS' | translate}}</th>
        </tr>
        </thead>
        <tbody ng-repeat="item in displayedHistory track by $index" class="no-border">
        <tr ng-if="isLoading" class="empty-text"><td colspan="4"><i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i></td></tr>
        <tr ng-show="!item.details.length" class="empty-text"><td colspan="4">{{'AGT_HISTORY_EMPTY' | translate}}</td></tr>
        <tr ng-show="item.details.length" class="submenu"><td colspan="4">{{ctrl.formatHistoryDay(item.day)}}</td></tr>
        <tr ng-repeat="call in item.details track by $index" class="user-status4"
            ng-mouseover="call.hover=true" ng-mouseleave="call.hover=false">
            <td class="history-phone">
                <span ng-if="call.firstName || call.lastName" title="{{call.number}}">
                    <p long-text="{{call.lastName}} {{call.firstName}}" max-chars="20"></p>
                </span>
                <span ng-if="!(call.firstName || call.lastName)">
                    {{call.number}}
                </span>
            </td>
            <td class="history-status text-center"><img ng-src="{{ctrl.getCallStatus(call.status)}}"/></td>
            <td class="history-time text-center">
                <span>{{ctrl.formatHistoryTime(call.start)}}</span>
            </td>
            <td class="text-center">
                <span ng-show="!call.hover">
                    <i class="fa fa-user"></i>
                </span>
                <span ng-show="call.hover" class="fa-stack">
                    <a href="" ng-click="ctrl.dial(call.number)">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-phone fa-stack-1x"></i>
                    </a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>


