<div class="customer-content">
    <div ng-hide="attachedData.length" class="empty-text">{{'AGT_CONTEXT_EMPTY' | translate}}</div>
    <div ng-repeat="item in attachedData" class="context-item">
        <div class="title">
            {{item[0]}}
        </div>
        <div class="value">
            {{item[1]}}
        </div>
    </div>
</div>


