<div class="callback-content-detail">
    <div class="detail-header">
        <div class="col-xs-1"><i class="callbacks left_arrow" ng-click="ctrl.releaseCallback()"></i></div>
        <div class="col-xs-10 text-center">{{'AGT_CONTENT_CLLB_DETAIL_TITLE' | translate}}</div>
    </div>

    <div class="detail-content-header">
        <div class="detail-header-buttons" ng-class="{inactive: ctrl.isActiveMenu('details.notes')}" ng-click="ctrl.setActiveMenu('details.id')">
            <p>{{'AGT_CONTENT_CLLB_IDENTITY' | translate}}</p>
        </div>
        <div class="detail-header-buttons" ng-class="{inactive: ctrl.isActiveMenu('details.id'), forbidden: ctrl.callbackTicketNotDone()}"
             ng-click="ctrl.callbackTicketNotDone() ? angular.noop() : ctrl.setActiveMenu('details.notes')"
             ng-attr-title="{{ctrl.callbackTicketNotDone() ? ('AGT_CONTENT_CLLB_NO_NOTES'|translate) : ''}}">
            <p>{{'AGT_CONTENT_CLLB_NOTES' | translate}}</p>
        </div>
    </div>

    <div ui-view></div>
</div>