<div class="customer-header">
    <div class="customer-header-item" ng-class="{inactive: ctrl.isActive('context')}" ng-click="ctrl.setActiveMenu('path')">
        <p>{{'AGT_CONTENT_CUS_PATH' | translate}}</p>
    </div>
    <div class="customer-header-item" ng-class="{inactive: ctrl.isActive('path')}" ng-click="ctrl.setActiveMenu('context')">
        <p>{{'AGT_CONTENT_CUS_CONTEXT' | translate}}</p>
    </div>
</div>

<div ui-view></div>

