<div ui-view></div>


<script type="text/ng-template" id="callback.html">
    <div>
        <span class="pull-left">{{'AGT_CONTENT_CLLB_DUE' | translate}}:</span>
        <span class="pull-right">{{displayedCallback.dueDate}}</span>
        <div class="separator"><br/></div>
        <span class="pull-left"> </span>
        <span class="pull-right">{{ displayedCallback.preferredPeriod.periodStart }} {{ displayedCallback.preferredPeriod.periodEnd }}</span>
        <div class="separator"><br/></div>
        <span class="pull-left">{{'AGT_CONTENT_CLLB_COMPANY' | translate}}:</span>
        <span class="pull-right">{{displayedCallback.company}}</span>
        <div class="separator"><br/></div>
        <span class="pull-left">{{'AGT_CONTENT_CLLB_IDENTITY2' | translate}}:</span>
        <span class="pull-right">{{ displayedCallback.firstName }} {{ displayedCallback.lastName }}</span>
        <div class="separator"><br/></div>
        <span class="pull-left">{{'AGT_CONTENT_CLLB_NUMBERS2' | translate}}:</span>
        <span class="pull-right">{{ displayedCallback.phoneNumber }} {{ displayedCallback.mobilePhoneNumber }}</span>
    </div>
    <div class="clearfix"></div>
</script>


