<div class="customer-content">
    <table st-table="displayedHistory" st-safe-src="history" class="table table-striped text-center">
        <thead class="no-border">
            <tr>
                <th st-sort="start" st-sort-default="true" st-delay="-1" class="sortable col-xs-3 text-center">{{'AGT_CONTENT_CUS_HOUR' | translate}}</th>
                <th st-sort="queueName" class="sortable col-xs-5">{{'AGT_CONTENT_CUS_ACTIVITY' | translate}}</th>
                <th st-sort="waitTime" class="sortable col-xs-4 text-center" >{{'AGT_CONTENT_CUS_WAIT' | translate}}</th>
                <th st-sort="status" class="sortable col-xs-4 text-center" >{{'AGT_CONTENT_CUS_ANSWER' | translate}}</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in displayedHistory track by $index" class="no-border text-center">
            <tr ng-show="!item.details.length" class="empty-text"><td colspan="4">{{'AGT_HISTORY_EMPTY' | translate}}</td></tr>
            <tr ng-show="item.details.length" class="submenu"><td colspan="4">{{ctrl.formatHistoryDay(item.day)}}</td></tr>
            <tr ng-repeat="call in item.details track by $index"
                uib-popover="{{'AGT_CONTENT_CUS_ANSWERED_BY' | translate}} {{call.agentName}}" popover-trigger="'mouseenter'" popover-placement="bottom"
                popover-enable="{{call.agentName.length}}" popover-append-to-body="true" popover-popup-delay="600" popover-class="table-popover">
                <td>
                    {{ call.start | hour }}
                </td>
                <td>
                    <p long-text="{{ call.queueName }}" max-chars="10"></p>
                </td>
                <td>
                    {{ ctrl.getCallWaitTime(call) }}
                </td>
                <td>
                    <span ng-class="ctrl.getCallClass(call)"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>


