@icon-font-path:  "/assets/bower_components/bootstrap/fonts/";



@xivo-light: #fff;
@xivo-dark-gray: #959595;
@xivo-dark: #595959;
@xivo-primary: #e67d39;
@xivo-success: #5cb85c;
@xivo-warning: #cd4747;
@xivo-danger: #9f1414;
@orange: #e67c39;

@brand-info: @xivo-dark-gray;
@brand-primary: @xivo-primary;
@brand-success: @xivo-success;
@brand-warning: @xivo-warning;
@brand-danger: @xivo-danger;
@line-height-large: 1.33;
@input-border-focus: @brand-primary;


@btn-border-radius-base: 100px;
@btn-circle-size: 30px;
@btn-padding-base-vertical:     10px;
@btn-padding-base-horizontal: 31px;
@btn-default-color:              #58524f;
@btn-default-border:             #fff;

@input-height-base:40px;
@input-border: #959595;

@background-gray: linear-gradient(to bottom, #f6f6f6, #e1e1e1);
@background-light: linear-gradient(to top, rgba(229, 229, 229, 0.9), rgba(255, 255, 255, 0.9));

@alert-info-bg:  #e1e1e1;
@alert-info-text: @brand-primary;
@alert-info-border: @brand-primary;

@app-background: #fff;
@app-header-background: @background-gray;
@color-normal: #555555;
@color-light: #595959;
@color-lighter: #959595;

@modal-sm: 360px;
@modal-backdrop-bg: #fff;
@modal-backdrop-opacity:      .5;
@modal-content-bg: @xivo-dark;
@modal-header-border-color: @xivo-dark;
@modal-footer-border-color: @xivo-dark;
@modal-menu-bg: #eaeaea;
@modal-menu-dark-bg: #ddd;
@modal-menu-color: #c1c1c1;
@modal-menu-border: solid 1px @modal-menu-color;
@modal-action-color: #c6c6c6;

@smartphones: ~"only screen and (max-width: 479px)";
@desktop: ~"only screen and (min-width: 480px)";
@contact-line-height: 50px;

