@import "_variables.less";

body[state=login] {
  padding-top: 70px;
  @media @smartphones {
    padding-top: 10px;
  }
}

body[state=login] > div {
  width: 360px;
  @media @smartphones {
    width: 100%;
    padding: 0 20px;
  }
}

#xivo-logo {
 text-align: center;
}

#xivo-description {
  margin: 30px 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  color: @xivo-dark-gray;
  text-align: center;
}

body[state=login] form {
  padding: 15px 25px 10px 25px;
  border-radius: 4px;
  background-image: @background-light;
  box-shadow: 0 2px 5px 0 rgba(110, 110, 110, 0.5);
}

body[state=login] form .title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2.9px;
  color: @xivo-primary;
  margin-bottom: 30px;
}

.retry-auto-login {
  text-align: center;
  font-size: 12px;
}