html, body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

body {
    background-image: linear-gradient(to bottom, #f6f6f6, #e1e1e1);
    letter-spacing: 0.5px;
    color: #555555;
    border: #ddd 1px solid;
}

.form-settings .checkbox, .radio-interface, .radio-protocol {
  margin-top: 2px;
}

.radio-box > .radio {
  margin: 0;
}

.form-settings .radio-box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 12px;
}

#xivo-logo {
  text-align: center;
  height: auto;
  width: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 400px) {
  #xivo-logo .phone{
    display: none;
  }
}


.panel-body div {
    margin: 10px 0 25px 0;
}

.box-app {
  height: calc(100% - 24px);
}

.box-app webview{
  height: 100%;
  overflow-x: hidden;
}

.box-grey {
    margin: 0 20px;
    padding: 30px 25px 20px 25px;
    border-radius: 4px;
    background-image: linear-gradient(to top, rgba(229, 229, 229, 0.9), rgba(255, 255, 255, 0.9));
    box-shadow: 0 2px 5px 0 rgba(110, 110, 110, 0.5);
}

.box-grey .title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2.9px;
    color: #e67d39;
    margin-bottom: 30px;
}

.btn-primary-alt {
    font-weight: bold;
    border-radius: 100px;
    border: 0px none;
    padding: 10px 21px;
    color: #ffffff;
    background-color: #e67d39;
}

.btn-primary-alt:hover, .btn-primary-alt:focus {
  background-color: #ffffff;
  color: #e67d39;
}

.btn-default-alt {
    font-weight: bold;
    border-radius: 100px;
    border: 0px none;
    padding: 10px 21px;
    color: #fff;
    background-color: #888;
}

.btn-default-alt:hover, .btn-default-alt:focus {
    color: #888;
    background-color: #fff;
}

.btn-uppercase {
   text-transform: uppercase;
}

.form-control:focus {
    border-color: #e67d39;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 125, 57, 0.6);
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after,
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

.ui-select-match-item.btn-primary,
.ui-select-match-item.btn-primary:focus,
.ui-select-match-item.btn-primary:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.ui-select-bootstrap .ui-select-choices-row.active>span {
    background-color: #e67d39;
}

.auto-retry {
    margin-top:20px;
    font-size:12px;
}


.title-bar{
    -webkit-app-region: drag;
    -webkit-user-select: none;
    white-space: nowrap;
    background-color: #f6f6f6;
    border-bottom: #ddd 1px solid;
    overflow: hidden;
}

.title-bar .app-ctrl, .title-bar .app-name {
    display: inline-block;
    vertical-align: middle;
    margin: 4px 0;
    height: 15px;
}


@media screen and (min-width: 121px) {
  .title-bar .app-name{
      -webkit-user-select: none;
      -webkit-app-region:drag;
      font-size: 11px;
  }
}

@media screen and (max-width: 120px) {
  .title-bar .app-name{
    display: none;
  }
}

.title-bar .app-ctrl{
    -webkit-app-region: no-drag;
    width: 15px;
    background: url(../img/favicon.ico) no-repeat center center;
    background-size: contain;
    margin-left: 4px;
}

.title-bar .separator {
  position: absolute;
  height: 24px;
  right: 45px;
  border-left: #ddd 1px solid;
}

.title-icon {
  -webkit-app-region: no-drag;
  color: #555;
  font-size: 16px;
}

.title-icon.app-close {
  position: absolute;
  right: 4px;
  top: 1px;
}

.title-icon.app-close:after {
  content: '⤬';
}

@media screen and (min-width: 73px) {
  .title-icon.app-min {
    position: absolute;
    right: 23px;
    top: 1px;
  }

  .title-icon.app-min:after {
    content: '‒';
  }

  .title-icon.app-conf {
    position: absolute;
    right: 52px;
    top: 2px;
  }

  .title-icon.app-conf:after {
    font-family: "Glyphicons Halflings";
    font-size: 13px;
    content: "\e136";
  }
}

@media screen and (max-width: 72px) {
  .title-icon.app-min{
    display: none;
  }

  .title-icon.app-conf{
    display: none;
  }

  .title-bar .separator{
    display: none;
  }
}

.title-icon:hover {
  color: #e67d39;
}

a.title-icon {
  text-decoration: none;
}

a.title-icon:focus {
  color: #555;
}

