<div ng-controller="CallAction" uib-dropdown class="dropdown dropdown-menu-right">
    <a uib-dropdown-toggle role="button" href id="dLabel">
        <i ng-if="!stacked" class="fa fa-phone" aria-hidden="true"></i>
        <span class="fa-stack" ng-if="stacked">
           <i class="fa fa-circle fa-stack-2x"></i>
           <i class="fa fa-phone fa-stack-1x" aria-hidden="true"></i>
        </span>
    </a>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dLabel">
        <li ng-repeat="phone in phoneNumbers">
            <div class="input-group">
                <span class="input-group-btn group-btn-copy">
                    <a class="btn btn-lg btn-dark btn-block btn-dial" ng-click="dial(phone, null, false)" title="{{'PHONE_CALL' | translate}}">
                        {{phone | prettyPhoneNb}} <i class="fa fa-phone"></i>
                    </a>
                </span>
                <span class="input-group-btn group-btn-copy" ng-if="enableVideo">
                    <a class="btn btn-lg btn-dark btn-block btn-action" ng-click="dial(phone, null, true)" title="{{'VIDEO_CALL' | translate}}">
                        <i class="fa fa-video-camera"></i>
                    </a>
                </span>
                <span class="input-group-btn group-btn-copy" ng-if="enableFlashtext">
                    <a class="btn btn-lg btn-dark btn-block btn-action" ng-if="canShowFlashtext()" ui-sref="interface.partyMessages({user: contact.username, displayName: contact.displayName})" title="{{'FLASHTEXT' | translate}}">
                        <i class="fa fa-commenting"></i>
                    </a>
                    <span class="btn btn-lg btn-dark btn-block btn-action btn-loggedoff" ng-if="!canShowFlashtext()" title="{{'USER_DISCONECTED' | translate}}">
                        <i class="fa fa-comment-o"></i>
                    </span>
                </span>

                <span class="input-group-btn group-btn-copy">
                    <a class="btn btn-lg btn-dark btn-block btn-copy" title="{{'COPY_CLIPBOARD' | translate}}"
                       ngclipboard data-clipboard-text="{{phone}}">
                        <i class="far fa-clipboard"></i>
                    </a>
                </span>
            </div>
        </li>
        <li ng-if="email">
            <span class="input-group-btn group-btn-copy">
                <a class="btn btn-lg btn-dark btn-block" ng-href="mailto:{{email}}" title="{{'SEND_EMAIL' | translate}}">
                    <span long-text="{{email}}" max-chars="{{emailMaxChars}}"></span>
                </a>
            </span>
            <span class="input-group-btn group-btn-copy">
                <a class="btn btn-lg btn-dark btn-block btn-copy" title="{{'COPY_CLIPBOARD' | translate}}"
                   ngclipboard data-clipboard-text="{{email}}">
                    <i class="far fa-clipboard"></i>
                </a>
            </span>
        </li>
    </ul>
</div>
