<div class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" date-type="string" ng-model="date"  is-open="calendar.isOpened" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="popupCalendar($event)"><i class="glyphicon glyphicon-calendar" ></i></button>
    </span>
</div>
