
<div uib-dropdown on-toggle="dissuasionToggle(open)">    
    <a href ng-click="getDissuasionList()" uib-dropdown-toggle title="{{title}}" 
    class ="dissuasion-titre">
       {{name}} 
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x circle-dissuasion"></i>
            <i class="fa fa-eject fa-stack-1x" aria-hidden="true "> </i>
        </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-left dissuasion-list" role="menu" uib-dropdown-menu>
        <li ng-repeat="queue in dissuasion_list.queues | orderBy:'name'" ng-if="activity.name !== queue.name" ng-click="changeDissuasionToDefault(activity.id, queue.name)">
            <a href ng-class="getDissuasionClass(queue)" title="">
                <i class="fa fa-list" aria-hidden="true"></i>&nbsp;{{queue.name | limitTo: 20}}
                <i ng-show="queue.selected" class="fa fa-check-circle pull-right dissuasion-is-selected check-icon-centered" aria-hidden="true"></i>
                <i ng-show="!queue.selected" class="fa fa-circle-o pull-right dissuasion-is-selected check-icon-centered" aria-hidden="true"></i>
            </a>
        </li>
        <li ng-repeat="soundFile in dissuasion_list.soundFiles | orderBy:'displayName'" role="menuitem" ng-click="setDissuasion(activity.id, soundFile.fileName)">
            
            <a href ng-class="getDissuasionClass(soundFile)" title="{{soundFile.displayName}}">
                <i class="fa fa-file-audio-o" aria-hidden="true"></i>&nbsp;{{soundFile.displayName | limitTo: 20}}
                <i ng-show="soundFile.selected" class="fa fa-check-circle pull-right dissuasion-is-selected" aria-hidden="true"></i>
                <i ng-show="!soundFile.selected" class="fa fa-circle-o pull-right dissuasion-is-selected" aria-hidden="true"></i>
            </a>   
        </li>
        
        <li ng-if="emptyDissuasion" ng-click="dissuasionListClosed()" title="">
            <a disabled>{{'FAILED_DESTINATION_EMPTY' | translate}}</a>
        </li>
    </ul>
</div>
