<div class="flashtext-view no-result" ng-show="parties.length == 0 && !inPartyChat">
  {{'NO_NEW_MESSAGE' | translate}}
</div>

<div class="flashtext-view" ng-show="parties.length > 0 && !inPartyChat">
  <a class="flashtext-party party-div" ng-click="setPartyAsRead(party); party.unreadCount = 0" ng-repeat="party in parties"
    ui-sref="interface.partyMessages({user: party.username})" title="{{'REPLY' | translate}} ">
    <div class="party-item m-party">

      <div ng-show="party.partyMessages.length > 0" class="m-party-item">
        <span class="flashtext-time"
          title="{{party.messages[0].date | date:'yyyy-MM-dd HH:mm:ss'}}">{{party.partyMessages[0].date | hour}}</span>
      </div>

      <div class="m-party-item">
        <span class="flashtext-user" long-text="{{party.displayName}} :" max-chars="25"></span>
      </div>

      <div ng-show="party.partyMessages.length > 0" class="m-party-item">
        <div class="flashtext-message" ng-bind-html="party.partyMessages[0].message | linky:'_blank' | emoji">
        </div>
      </div>

      <div ng-show="party.partyMessages.length == 0" class="m-party-item">
        <div class="flashtext-no-message">
          <i>{{'EMPTY_CONVERSATION' | translate}}</i>
        </div>
      </div>

      <div ng-show="party.partyMessages.length > 0" class="m-party-item flex-align-right">
        <span class="party-new-message" ng-if="!party.isRead"><b class="party-new-message-count">{{party.unreadCount}}</b></span>
      </div>
      
    </div>
  </a>
</div>

<div class="party-container" ng-show="inPartyChat">
  <div class="title-header header-flashchat">
      <a class="close-button" ui-sref="interface.messages"><i class="fas fa-arrow-left"></i></a>
    <div class="messages-header"> 
      <span  long-text="{{'CONVERSATION' | translate}} {{singleParty.displayName}}" max-chars="45"> </span>
    </div>
    
  </div> 
 
  <div class="party-messages" scroll-glue>
    <div class="party-message" ng-class="partymessage.direction === 'incoming' ? 'you' : 'me'" ng-repeat="partymessage in singleParty.partyMessages | orderBy: $index : true ">
      <p>
        <span class="party-messages-text" ng-bind-html="partymessage.message | linky:'_blank' | emoji"></span>
      </p>
        <span class="message-timestamp"><i title="{{partymessage.date | toUserFriendlyDate}}">{{partymessage.date | hour}}</i><br></span>
    </div>
  </div>
  <div class="flashtext-sender">
    <textarea ng-keydown="checkForEnter($event, singleParty.displayName)" ng-model="areaMessage" class="flashtext-text disable-scrollbars" rows="3" cols="47" placeholder="{{'MESSAGE_TO_SEND' | translate}}"></textarea>
    <div ng-show="areaMessage.length > 0" ng-click="sendMessage(singleParty.displayName)" class="flashtext-text-send"><i class="fas fa-paper-plane paperplane"></i></div>
  </div>
</div>