@import _root_.configuration.Config

@(title:String, config: Config)(implicit lang: Lang)

<!DOCTYPE html>

<html ng-app='Agent'>
<head>
    @head(title, config)
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/ccagent/main.css")">
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/ccagent/favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@routes.Assets.versioned("images/ccagent/favicon.ico")" type="image/x-icon">

    <script src="@routes.Assets.versioned("javascripts/dist/agent.js")" type="text/javascript"></script>
    </head>
    <body data-preferredlang="@{lang.language}" ng-cloak state="{{$state.current.name}}">
        <div ui-view></div>
        <div ui-view="thirdparty"></div>
    </body>
</html>
