@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "public/fonts/fa5/less/fontawesome.less";
@import "public/fonts/fa5/less/solid.less";
@import "public/fonts/fa5/less/regular.less";
@import "../_variables.less";
@import "../xchelper/main.less";
@import "../xuc.less";
@import "../_buttons.less";
@import "../_forms.less";
@import "_fonts.less";
@import "../coloragentstates.less";


html,
body {
  height: 100%;
}

a:focus {
  outline: none;
}

body {
  background-image: @background-gray;
  letter-spacing  : 0.5px;
  padding-top     : 0;
  color           : @color-normal;
}

.call-button {
  position: relative;
}

.disable-scrollbars::-webkit-scrollbar {
  width     : 0px;
  background: transparent;
  /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

textarea {
  resize: none;
  border: 0px;
  margin: 13px;
  padding: 0px;
  outline: none;
  ¹&:focus {
    border: 0px;
    outline: none;
  }
}

.you p::before {
  content      : '';
  position     : absolute;
  width        : 0;
  height       : 0;
  left         : -12px;
  top          : 0;
  border-top   : 0px solid transparent;
  border-right : 16px solid #eee;
  border-bottom: 16px solid transparent;
}

.you {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  p {
    clear: both;
    grid-row: 1;
    grid-column: 1;
    position: relative;
    float: left;
    margin: 10px 90px 0 20px;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    background-color:#eee;
  }
  span.message-timestamp {
    grid-row: 2;
    grid-column: 1;
    font-style: italic;
    margin-left: 22px;
    font-size: 13px;
  }
}

.me p::after {
  content      : '';
  position     : absolute;
  width        : 0;
  height       : 0;
  right        : -10px;
  top : 0;
  border-top   : 0px solid transparent;
  border-left  : 16px solid #fdede2;
  border-bottom: 16px solid transparent;
}

.me, .you {
  clear: both;
}

.me {
  display              : grid;
  grid-template-columns: 1fr auto;
  grid-template-rows   : auto 1fr;

  p {
    clear      : both;
    grid-row   : 1;
    grid-column: 2;
    position: relative;
    float: right;
    right: 0px;
    margin: 10px 20px 0 90px;
    background-color: #fdede2;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    span.party-messages-text {
      float: right;
    }
  }

  span.message-timestamp {
    grid-row   : 2;
    grid-column: 2;
    font-style : italic;
    margin-right: 22px;
    font-size: 13px;
    i {
      float: right;
    }
  }
}

.party-container {
  height: 100%;
}

.party-messages {
  overflow: auto;
  height: ~"calc(100% - 136px)";
  display: flex;
  flex-direction: column;
  flex: 1 1 90%;
  word-break: break-word;
  word-wrap: break-word;
  .party-messages-text {
    white-space:pre-line;
  }
}

.badge .fa-envelope {
  top: 0px!important;
}

.flex-align-right {
  margin-left: auto!important;
}

.party-new-message {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #e67d39;
  border-radius: 10px;
  margin: 5px;
}

.party-new-message-count {
  position: relative;
}

.flashtext-sender {
  height: 100px;
  padding: 0px;
  border-top: 1px solid #ddd;
  display: grid;
  grid-template-columns: 4fr 1fr;
  .flashtext-text-send {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #595959;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      .paperplane {
        color: @xivo-primary;
      }
    }
    .paperplane {
      color: #595959;
    }
  }
}

.flashtext-party {
background-color: #ffffff;
color: #333333;
  &:hover {
    color: #ffffff;
    text-decoration: none;
    .party-item {
      background-color: #e67d39;
    }
    .flashtext-message {
      a {
        color: white;
      }
    }
    .flashtext-time {
      color:#ffffff;
    }
    .party-new-message {
      background-color: white;
      color:#e67d39;
    }
  }
}

.flashtext-party {
  border-bottom: 1px solid #ddd;
  height: 50px;

  .m-party {
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    padding: 0px 10px;
    .m-party-item {
      margin-left: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      line-height: 50px;
      overflow: hidden;
      .flashtext-time {
        font-size: 12px;
        font-style: italic;
      }
      .flashtext-message { 
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .flashtext-time-div {
    text-align: center;
    font-weight: italic;
  }
}

.flash-badge {
  background-color: #e67d39;
  text-align      : unset !important;
  border-radius   : 100%;
  position        : absolute !important;
  top             : 38px !important;
  left            : -3px !important;
  font-size       : 11px;
  width           : 20px;
  height          : 20px;
  padding         : 4px 0 0 1px;
}

.voicemail-badge {
    line-height: 0.8;
    position: absolute;
    top: 19px;
    right: -5px;
    color: #fff;
    background: #e67d39;
    height: 16px;
    width: 16px;
    padding: 4px 0 0 0;
}

body>div {
  margin-left : auto;
  margin-right: auto;
}

#footer {
  margin-top: 15px;
  font-size : 12px;
  color     : @xivo-dark-gray;
}

.modal {
  text-align: center;

  &:before {
    display: inline-block;
    content: " ";
  }
}

.modal-sm {
  width     : 410px;
  margin-top: 80px;
}

.modal-dialog {
  display   : inline-block;
  text-align: left;
}

.modal-content {
  color: #fff;
}

.modal-content .input-group-addon {
  background-color: @xivo-dark;
}

.modal-content .close {
  color  : #fff;
  opacity: .5;
}

.modal-title {
  text-align: center;
}

.modal-footer {
  padding: 20px 25px 50px 25px;
}

.modal-right {
  .modal-dialog {
    margin      : auto;
    position    : fixed;
    width       : 450px;
    height      : 100%;
    right       : 50%;
    margin-right: -225px;

    @media @smartphones {
      width       : 100%;
      margin-right: 0;
      right       : 0;
    }
  }

  &.fade .modal-dialog {
    width     : 0;
    transition: opacity 0.3s linear, width 0.3s ease-out;
  }

  &.fade.in .modal-dialog {
    width: 450px;

    @media @smartphones {
      width: 100%;
    }
  }

  .modal-header {
    background-color: @modal-menu-bg;
    color           : @color-light;
    border-bottom   : @modal-menu-border;
    transition      : all .5s linear;
    font-size       : 22px;

    .modal-title {
      padding-top: 30px;
      font-size  : 22px;
      font-weight: bold;
    }

    &.modal-menu {
      background-color: @modal-menu-dark-bg;
    }
  }

  .modal-content {
    height          : 100%;
    overflow-y      : auto;
    background-color: @xivo-light;
    color           : @color-light;
    border-radius   : 0;
    border          : @modal-menu-border;
    box-shadow      : none;

    .close {
      color      : inherit;
      opacity    : 1;
      padding-top: 8px;
    }
  }

  .modal-body {
    padding: 0;

    .menu-header {
      padding         : 10px;
      text-align      : center;
      font-size       : 1.2em;
      font-weight     : bold;
      background-color: @modal-menu-bg;
      border-bottom   : @modal-menu-border;
    }

    .menu-item,
    .menu-item-nohover {
      padding      : 15px 40px 15px 40px;
      border-bottom: @modal-menu-border;

      .fa {
        font-size: 24px;
        color    : @xivo-primary;
        position : relative;
        bottom   : 3px;
        right    : 5px;

        &.fa-user-plus {
          right: 0;
        }
      }

      .btn-default {
        font-size: 13px;
      }
    }

    .menu-item:hover {
      background-color: @xivo-primary;
      color           : @xivo-light;
      cursor          : pointer;

      .fa {
        color: @xivo-light;
      }
    }
  }

  .modal-footer {
    border: none;
  }

  &.greyed {
    .modal-header {
      border: none;
      height: 160px;

      .modal-title {
        padding-top: 7px;
      }
    }

    .modal-content {
      background-color: @modal-menu-bg;

      .modal-body {
        padding: 0 20px;
      }
    }

    .modal-footer {
      padding: 20px 40px 50px 40px;
    }
  }
}

.video-container {
  width     : 100%;
  height    : 100%;
  position  : relative;
  z-index   : 20 !important;
  text-align: center;
  background: black;
}

.video-remote {
  width         : 100%;
  height        : 100%;
  z-index       : 20 !important;
  display       : flex;
  pointer-events: none;
}

.video-local {
  width         : 20%;
  position      : absolute;
  right         : 8px;
  bottom        : 13px;
  z-index       : 2147483647 !important;
  display       : block;
  transform     : scaleX(-1);
  pointer-events: none;
}

.fullscreen-button {
  opacity           : 0;
  position          : absolute;
  bottom            : 15px;
  z-index           : 2147483647 !important;
  background-color  : @xivo-primary;
  border-radius     : 50%;
  border            : none;
  left              : 50%;
  transform         : translate(-50%, 0);
  -webkit-transition: opacity 0.5s ease-in-out;
}

.video-container:hover>.fullscreen-button {
  opacity           : 1;
  -webkit-transition: opacity 0.5s ease-in-out;
}

video::-webkit-media-controls-panel {
  display: none;
}

.title-header {
  height     : 36px;
  background-color: #eee;
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
  font-size  : 12px;
  text-align: center;
  padding : 6px;
  display: flex;
  flex-direction: row;

  .messages-header {
    height     : 25px;
    width: auto;
    color      : #595959;
    font-weight: bold;
    font-size  : 12px;
    margin: auto;
    padding : 4px 15px;
  }

  .close-button {
    float: left;
    color: #959595;
    cursor: pointer;
    font-size: 18px;
    padding: 0 10px;
    &:hover {
      color: #e77b39;
    }
    i {
      top: -3px;
      right: 5px;
    }
  }
}

.header-flashchat {
  padding: 1% 6% 0 0;
  display: block;
}

call-control .call-control{

    table>tbody{
    tr>td{
      border: 0;
    }
    &:last-child {
      border-bottom: 1px solid #c1c1c1;
    }
  }

    table>tbody>tr.table-row-confcall{
      border-top: 1px solid #c1c1c1;
      border-bottom: 0;
      background: #f5f5f5;
      td {
      vertical-align: middle;
      }
      .call-duration-actions * {
        float: right;
        .fa-stack, .fa-commenting {
          float: none;
        }
      }
    }
}

call-control .call-control {

  .conference-title{
    td {
      vertical-align: middle !important;
    }
    .call-duration-actions {
      span {
        float:right;
      }
      .call-actions {
        float: right;
        vertical-align: middle;
      }
    }
  }

  tbody>tr.table-row-confcall {
        .call-state {
      color: #555555;

      span.call-name-detail {
        padding-left: 15px;
        position: relative;
        top: -2px;
      }
    }
  }

  tbody>tr.table-row-call {
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    background-color: white;
    
    td {
      border        : 0px;
      vertical-align: middle;

      .call-actions .pull-right {
        height: 50px;
      }
    }
  }
}

show-flash-text {
  tbody {
    border: 0!important;
    border-top: 1px solid #ddd;

    tr {
      border: 0;
      border-top: 1px solid #dddddd;
      background: #fff; 
    }
  }
}

.search-form {
  position: relative;

  .clearinput {
    position: absolute;
    right   : 45px;
    top     : 7px;
    z-index : 3;
    color   : #959595;
    padding : 5px;
    cursor  : pointer;

    &:hover {
      text-decoration: none;
      font-weight    : bold;
      color          : #e67d39;
    }
  }
}

.emoji {
  position: relative;
  top     : 4px;
}

.history-container {
  .history-highest:nth-child(2) > .history-grid {
    border-top : 0;
  }

  .history-highest:last-child {
    border-bottom : 1px solid #dddddd;
  }
}

.history-grid {
  display              : grid;
  grid-template-columns: auto 70px;
  grid-template-rows   : 1fr;
  height               : 50px;
  background-color     : #ffffff;
  color                : #555555;
  border-top           : 1px solid #dddddd;

  &:hover {
    background-color: #e67d39;
    color           : #ffffff;

    .user-status {
      img {
        display: none;
      }
    }

    .history-time-one,
    .history-time-two {
      display: grid;
    }

    i {
      color: #ffffff;
    }
  }

  .call-informations {
    display              : grid;
    grid-template-rows   : 1fr;
    grid-template-columns: 70px auto auto;
  }

  .history-grid-item {
    line-height: 50px;
    height     : 50px;
    padding    : 0px 4px;
    grid-row   : 1;
  }

  .history-phone {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 225px;
  }

  .history-children {
    font-size : 16px;
    text-align: end;
  }

  .parent-call {
    color      : #e67d39;
    cursor     : pointer;
    height     : 50px;
    width      : auto;
    text-align : center;
    grid-row   : 1;
    grid-column: 2;
  }

  .parent-add {
    color      : #e67d39;
    cursor     : pointer;
    height     : 50px;
    width      : auto;
    text-align : center;
    grid-row   : 1;
    grid-column: 1;
  }

  .children-chevron {
    color   : #d8d8d8;
    position: absolute;
    left    : 0px;
    top     : 18px;
    width   : 20px;
    height  : 18px;
  }
}


.user-status {
  padding-left: 10px;
  text-align  : center;
  position    : relative;
}

.history-child-grid {
  grid-template-columns: 20px 40px auto auto 70px;
  grid-template-rows   : 1fr;
  height               : 30px;

  .children-duration {
    grid-column: 3;

    span {
      padding-left: 10px;
    }
  }

  .children-start {
    margin-right: 0px;
    text-align : end;
    grid-column: 4;
  }

  .children-status {
    grid-column: 2;

    img {
      margin-left: 10px;
    }
  }

  .history-child-grid-item {
    line-height: 30px;
    padding    : 0px 8px;
    grid-row   : 1;
  }
}

.history-time-one {
  text-align           : center;
  line-height          : 50px;
  display              : none;
  grid-template-rows   : 1fr;
  grid-template-columns: 1fr 1fr;
  padding              : 0px 7px;
  font-size            : 28px;
}

.history-time-two {
  text-align           : center;
  line-height          : 50px;
  display              : none;
  grid-template-rows   : 1fr;
  grid-template-columns: 1fr 1fr;
  padding              : 0px 7px;
  font-size            : 28px;

  .fa-user-plus {
    font-size: 26px;
    margin-right: 5px;
  }
}

.children-hiddens {
  .history-children-details {
    display: none;
  }
}

.children-show {
  .user-status {
    img {
    display: none;
    }
  }

  .history-children {
    display: none;
  }

  .history-children-details {
    font-size: 16px;
    display: grid;
  }
}

.parent-clickable {
  cursor: pointer;
  .history-children-details {
    cursor: default;
  }
}

  .no-border {
    border: none !important;
  }