@import "../_variables.less";

body > div {
  width:450px;
  height: 100%;
  @media @smartphones {
    width: 100%;
    padding: 0;
  }
}

.user-identity {
  position :relative;
}

.user-header-menu {
  a {
    float:right;
    margin-right: 10px;
  }
  #menu {
    margin-right: 3px;
  }
}

div.user-header-menu>a:nth-child(3){
  margin-right: 44px;
}

.user-header-btn {
  position: relative;
  color: #595959;
  padding:6px 0 3px 3px;
  font-size: 19px;
  &:hover {
    cursor: pointer;
    color: #e67d39;
  }
  img {
    width:31px;
  }
}

.main-app {
  position: relative;
  border-radius: 0px;
  height: 100%;
  background: @app-background;
  box-shadow: 0 2px 5px 0 rgba(110, 110, 110, 0.5);
}

.header {
  position:relative;
  background: @app-header-background;
  text-align: center;
  padding: 10px 20px 0px 20px;
  border-bottom: 1px solid #ccc;

  .menu {
    padding-left: 6px;
    float: right;
    font-size: 25px;
    color: @xivo-dark;

    &:hover {
      color: @xivo-primary;
    }
  }

  .user {
    font-size: 24px;
    color:@color-light;
    font-family: Dyno;
    position: absolute;
    text-align: left;
    overflow: hidden;
    width:250px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .forward-number {
    color:@color-lighter;
    font-size: 12px;
    top: 34px;
    position: absolute;

    &:before {
      content: '[ ';
    }
    &:after {
      content: ' ]';
    }
  }
}

.header .btn img {
  margin-bottom: 3px;
}

.header .btn.btn-round {
  margin-top: 10px;
}

.header .user-action {
  margin:30px 0;

  .popover{
      min-width: 130px;
      text-align: center;
  }
}

.context {
  padding-left: 0;
  padding-top: 0;
  margin-right: 6px;
  margin-top: -2px;
  float: right;
  font-size: 25px;
  color: #595959;
}

.context img {
  color: #595959;
}

.head-icon.img {
    width: 100%;
}

.navigation {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  & > li {
    position:relative;
    display: block;
    float: left;
  }
  & > li + li {
    margin-left: 10px;
  }
  .menuselected .btn {
    background: @xivo-dark;
  }

  .btn-lg.btn-circle .badge {
    top: 30px;
    right: -5px;
    color: #fff;
    background: @xivo-primary;
    height: 20px;
    width: 20px;
    padding: 4px 0 0 1px;
  }
}

.user-header-clear {
  clear: both;
  margin-bottom: 22px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.search-form {
  padding: 0 0 18px 11px;

  .form-control {
    border-radius: 50px;
    border-right: 0 none;
    padding-right: 36px;
    height: 45px;
    font-size: 14px;
  }

  .input-group-btn>.btn {
    color: @xivo-dark-gray;
    border: 1px solid @xivo-dark-gray;
    border-left: 0 none;
    border-radius: 0px 30px 30px 0px;
    padding: 3px 12px 0 10px;
    font-size: 18px;
    height: 45px;
    width: 40px;
    &:hover {
      color: #fff;
    }

    .fa {
      padding-bottom: 7px;
    }
  }

  &:focus {
    .form-control, .input-group-btn>.btn {
      border-color: darken(@xivo-primary, 10%);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten(@xivo-primary, 20%);
      &:focus {
        outline: 0 none;
      }
    }
  }
}

.no-border-bottom {
  border-bottom-style: none !important;
}

.no-padding {
  padding: 0px !important;
}

.no-result {
  font-style: italic;
  padding: 10px;
}

.content-view {

  overflow-y: auto;
  table {
    margin-bottom: 0;
    tr:first-child > td {
      border-top: 0;
    }

    tr:last-child > td {
      border-bottom: 1px solid #ddd;
    }

    tr {
      height: @contact-line-height;

      .table-call-line {
        table-layout: auto;
      }

      &:not(.conferences):hover {
        background: @xivo-primary;
        color: #fff;

        td, td.favorite, td.call {
          color: #fff;
        }
        td.name, td.history-phone {
          font-weight: bold;
        }
        td.history-status img, td.history-time span {
          display: none;
        }
        td.history-time i, td.history-status i {
          display: inline-block;
          color:#fff;
        }
        td.history-time i {
          font-size: 30px;
        }
        td.history-status i {
          font-size: 25px;
        }

        td.call-name {
          .conference-name {
            display: none;
          }

          .conference-participant-count {
              display: inline;
          }
        }

        td.call-duration-actions {
          span {
            display : none;
          }
          .call-actions {
            display: flex;
          }
        }

      }

      td {
        vertical-align: middle;
        &.user-status {
          padding: 0;
          width: 10px;
        }
        &.favorite {
          width: @contact-line-height;
          color: @xivo-primary;
          padding:0;
        }
        &.call {
          font-size: 30px;
          padding:0;
          width: 70px;
          color: @xivo-primary;

          .dropdown-menu {
            left: initial;
            right: 0;
            color:#fff;
            background: none;
            border: 0px none;
            box-shadow: none;
            margin: 0;
            margin-top: -1px;
            padding: 0;
            > li {
              float: right;
              margin-top: 1px;

              .input-group-btn {
                &.group-btn-copy {
                  max-width: 390px;
                }
              }
            }
            .btn {
              text-transform: none;
              text-align: left;
              font-weight: bold;
              color: #fff;
              .glyphicon, .fa {
                visibility: hidden;
              }
              &:hover {
                background-color: @xivo-dark;
                .glyphicon, .fa {
                  visibility: visible;
                  color: @xivo-primary;
                }
              }
            }

          }
        }
        &.edit {
          font-size: 25px;
          padding:0;
          width: 70px;

          &.action {
            cursor: pointer;
          }
        }

        &.history-time {
          font-size: 12px;
          width: 60px;
          color: @xivo-dark-gray;
          i {
            display: none;
          }
        }

        &.history-status {
          width: 50px;
          i {
            display: none;
          }
        }

        &.history-phone {
          padding-left: 20px;
        }

        &.call-state {
          width: 50px;
          text-align: center;

          &.extended {
            width: 60px;
            padding: 0;
            text-align: left;
          }
        }

        span.volume-state {
          display: inline-flex;
          padding-left: 10px;

          & > volume-meter {
            padding-right: 6px;
            padding-top: 4px;
          }

            .fa-volume-up, .fa-microphone {
              width: 8px;
              font-size: 13px;
            }

            .fa-microphone {
              padding-left: 1px;
            }

            .primary-color {
              color: @xivo-primary;
            }

            .dark-color {
              color: @xivo-dark;
            }

            .progress-bar-vertical {
              width: 10px;
              height: 25px;
              margin-bottom: 0px;
              display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
              display: -ms-flexbox; /* TWEENER - IE 10 */
              display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
              display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
              align-items: flex-end;
              -webkit-align-items: flex-end; /* Safari 7.0+ */
            }

            .progress-bar-vertical .progress-bar {
              height: 0%;
              width: 10px;
              -webkit-transition:
              height 0.6s ease;
              -o-transition: height 0.6s ease;
              transition: height 0.6s ease;
            }

            .primary-background-color {
              background-color: @xivo-primary;
            }

            .dark-background-color {
              background-color: @xivo-dark;
            }
        }

        &.call-name {
          font-weight: bold;
          width: auto;

          .call-party-name {
            white-space: nowrap;
            position: relative;
            top: -2px;
            height: 19px;
            &.call-wrapped-name {
              white-space: normal;
              overflow: hidden;
              text-overflow: ellipsis;
              display: flex;
            }

          }

        }
        .conference-name {
          display: inline;
        }

        .conference-participant-count {
            display: none;
        }

        &.call-duration-actions {
          width: auto;
          padding: 0;
          span {
            display: inline;
            font-size:12px;
            color: @xivo-dark-gray;
            padding: 10px;
          }

          .call-actions {
            display: none;

            &.extended {
              width: 220px;
            }
            a {
              width:60px;
              height:50px;
              float: right;
              font-size: 40px;
              text-align: center;

              &.call-keyboard {
                color: @xivo-dark;
                left: 11px;
                img {
                    width: 32px;
                    vertical-align: middle;
                    margin-bottom: 12px;
                }
              }

              &.call-hold, &.flashtext-bubble {
                i:hover {
                color: #e67d39;
                }
              }

              &.conference-mute-all, &.conference-unmute-all {
                &:hover {
                  color: #e67d39;
                }
              }

              &.call-hold, &.conference-mute-all, &.conference-unmute-all{
                  width: 50px;
                  color: @xivo-dark;
                  i {
                      vertical-align: middle;
                      margin-bottom: 13px;
                  }
              }


              &.flashtext-bubble {
                color: @xivo-dark;
                width: 45px;
                i {
                  vertical-align: middle;
                  margin-bottom: 16px;
                  font-size: 35px;
                }
              }

              &.call-transfer, &.call-conference, &.call-answer {
                color: #fff;
                background: @xivo-primary;
                i {
                  vertical-align: middle;
                  margin-bottom: 12px;
                }
                &:hover {
                  background: @xivo-dark;
                }
              }
              &.call-transfer, &.call-answer {
                margin-left: 1px;
              }
              &.call-transfer, &.call-conference {
                  font-size:20px;
                  i {
                      margin-top:14px;
                  }
              }
            }
          }
        }

        &.favorite a, &.call a[uib-dropdown-toggle] {
            color:inherit;
            background: inherit;
            width: @contact-line-height;
            height: @contact-line-height;
            display: inline-block;
            line-height: @contact-line-height;
        }
      }

      &.conferences.role-organizer {
          color: @xivo-primary;

          .call-state {
            color: @xivo-primary;
          }

          .call-party-name p {
            color: @xivo-primary;
          }
      }

      &.conferences.kicked {
          color: @xivo-dark-gray;
      }

    }
  }

  .call-control table tr:hover {
    background: #f5f5f5;
    color: #555555;
    td {
      color: #555555;
    }

    &.conferences.kicked {
        color: @xivo-dark-gray;
        td {
            color: inherit;
        }
    }
  }

  .call-control table tr.conferences:hover {
    &.role-organizer td {
        color: @xivo-primary;
    }
  }

  .conferences {

    width: 100%;

    .call-state {
        display: flex;
        color: @xivo-dark-gray;
        margin-right: 15px;
    }

    .call-state p {
      color: #555555;
      padding-left: 15px;
    }

    .conference-participant-muted {
      width: 5%;
      padding-left: 7px;
    }

    .call-name{
      width: auto;
      padding-left: 20px;
    }

    .call-duration-actions {
      width: auto;
        .call-actions {
            background: #f5f5f5;
            a {
                color: #595959;
            }

            .flashtext-bubble {
              margin-right: 8px;
            }

            .participant-mute-me:hover {
              color: #e67d39;
            }

            .managed-conferences {
              display: flex;
              flex-direction: row-reverse;

              .flashtext-bubble {
               margin-right: 0px;
              }
            }
        }
    }

    table tr.conferences:hover {
      &.role-organizer td {
          color: @xivo-primary;
      }

      td.call-duration-actions span {
        display: inline;
      }
    }

  }

  .fa-stack{
      font-size: 20px;
      vertical-align: middle;
      margin-bottom: 12px;
  }
}

.conference .call-name {
  text-transform: uppercase;
}

.participant-muted {
  color: #555555;
}

.participant-speaking, .participant-muted {
  font-size: 20px;
  margin-left: 20px;
  transition-property: visibility, opacity;
  transition-duration: 0s, .2s;

  &.inactive {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, .2s;
    transition-property: opacity, visibility;
    transition-duration: .2s, 0s;
  }
}

.participant-speaking {
    color: @xivo-primary;
}

.modal .incoming-title {
  text-align:center;
  text-transform: uppercase;
  font-size: 15px;
}

.modal .incoming-number {
  text-align:center;
  font-weight: bold;
  font-size: 22px;
}

.modal .incoming-name {
  text-align:center;
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}

.modal .confirmation-title {
  text-align:center;
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 20px;
}

.modal .confirmation-text {
  text-align:center;
  font-weight: bold;
  font-size: 22px;
}

.modal {
  .onhold-title {
    text-align:center;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 20px;
  }

  .onhold-timer {
    text-align:center;
    font-weight: bold;
    font-size: 15px;
  }

  .onhold-caller {
    text-align:center;
    font-weight: bold;
    font-size: 22px;
  }

 .onhold-center-div {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    text-align: center;
  }

  .onhold-button {
    width: 100%;
    margin-top: 25px;
  }

 .onhold-separator {
    margin-top: 30px;
    margin-bottom: 15px;
    border-top: 1px solid #7f7f7f;
  }

 .onhold-footer {
    text-align: center;
    padding: 0 25px 25px 25px;
  }
}

.modal-header {
  text-align: center;
  .title-icon {
    margin-top: -50px;
  }
}

.modal-content .alert {
  padding: 10px;
  margin-top: 30px;
  font-size: 13px;
}

.modal-footer {
  .btn-dark:hover {
    background-color: @xivo-light;
    color: @xivo-dark;
  }
}

.modal.fatal-error {
    .modal-body {
        text-align: center;
        font-size: 18px;
    }
    .modal-footer {
        text-align: center;
        border: 0;
        padding: 20px;
    }
}

.modal {

  .forward-header {
    height: 40px;
  }

  .forward-footer {
    text-align: center;
    padding: 0 25px 25px 25px;
  }

  .form-group {
    margin-bottom: 0;
  }

  .forward-warning {
    font-size: 12px;
    color: @xivo-primary;
    text-align: center;
  }

  .forward-center-div {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    text-align: center;
  }

  .forward-type-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .forward-title {
    text-align:center;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 10px;
  }

  .forward-type-title {
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .forward-type-text {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 26px;
    float: left;

    &.disabled {
      opacity: 0.65;
    }
  }

  .forward-display {
    display: block;
  }

  .forward-type-number {
    height: 35px;
    border-radius: 35px;
    font-size: 20px;
    width: 240px;
    float: right;
    display: hidden;
  }

  .forward-type-button {
    width: 100%;
    margin-top: 25px;

    &.dnd {
      margin-top: 18px;
    }
  }

  .forward-separator {
    margin-top: 30px;
    margin-bottom: 15px;
    border-top: 1px solid #7f7f7f;
  }

  .forward-error-text {
    text-align: center;
    font-size: 17px;
  }

  .forward-type-number {
    box-shadow: none;

    &.ng-valid {
      border-color: green;
      border-width: 2px;

      &.disabled {
        opacity: 0.8;
        border-color: inherit;
        color: @color-lighter;
      }
    }

    &.ng-invalid {
      border-color: red;
      border-width: 2px;

      &.disabled {
        opacity: 0.8;
        border-color: inherit;
        color: @color-lighter;
      }
    }
  }
}

.import-loading {
  color: @modal-menu-color;
  margin-top: 30px;
}

.personal-contacts {

  .modal-pre-title {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .modal-title {
    font-size: 18px;
    font-weight: bold;
  }

  .alert {
    margin-top: 0;
  }

  .modal-actions {
    padding-top: 20px;
    display: inline-flex;

    &>div:first-of-type {
      margin-right: 15px;
    }

    .favorites {
      height:40px;
      width:40px;

      .background {
        color: @modal-action-color;
      }

      .foreground {
        color: @xivo-light;
      }

      &.active {
        .background {
          color: @xivo-primary;
        }
      }

      &:hover {
        .background {
          color: @xivo-primary;
        }
      }
    }
    .delete {
      height:40px;
      width:40px;

      .background {
        color: @xivo-dark;
      }

      .foreground {
        color: @xivo-light;
      }

      &:hover {
        .background {
          color: @xivo-warning;
        }
      }
    }
  }

  input[type="text"] {
    border-radius: 50px;
    height: 45px;
    margin-bottom: 20px;
  }
}

call-control {
  table {

    tr {
      height: @contact-line-height;

      .table-call-line {
        table-layout: auto;
      }

      &:not(.conferences):hover {
        background: @xivo-primary;
        color     : #fff;

        td,
        td.favorite,
        td.call {
          color: #fff;
        }

        td.name,
        td.history-phone {
          font-weight: bold;
        }

        td.history-status img,
        td.history-time span {
          display: none;
        }

        td.history-time i,
        td.history-status i {
          display: inline-block;
          color  : #fff;
        }

        td.history-time i {
          font-size: 30px;
        }

        td.history-status i {
          font-size: 25px;
        }

        td.call-name {
          .conference-name {
            display: none;
          }

          .conference-participant-count {
            display: inline;
          }
        }

        td.call-duration-actions {
          span {
            display: none;
          }

          .call-actions {
            display: flex;
          }
        }

      }

      td {
        vertical-align: middle;

        &.user-status {
          padding: 0;
          width  : 10px;
        }

        &.favorite {
          width  : @contact-line-height;
          color  : @xivo-primary;
          padding: 0;
        }

        &.call {
          font-size: 30px;
          padding  : 0;
          width    : 70px;
          color    : @xivo-primary;

          .dropdown-menu {
            left      : initial;
            right     : 0;
            color     : #fff;
            background: none;
            border    : 0px none;
            box-shadow: none;
            margin    : 0;
            margin-top: -1px;
            padding   : 0;

            >li {
              float     : right;
              margin-top: 1px;

              .input-group-btn {
                &.group-btn-copy {
                  max-width: 390px;
                }
              }
            }

            .btn {
              text-transform: none;
              text-align    : left;
              font-weight   : bold;
              color         : #fff;

              .glyphicon,
              .fa {
                visibility: hidden;
              }

              &:hover {
                background-color: @xivo-dark;

                .glyphicon,
                .fa {
                  visibility: visible;
                  color     : @xivo-primary;
                }
              }
            }

          }
        }

        &.edit {
          font-size: 25px;
          padding  : 0;
          width    : 70px;

          &.action {
            cursor: pointer;
          }
        }

        &.history-time {
          font-size: 12px;
          width    : 60px;
          color    : @xivo-dark-gray;

          i {
            display: none;
          }
        }

        &.history-status {
          width: 50px;

          i {
            display: none;
          }
        }

        &.history-phone {
          padding-left: 20px;
        }

        &.call-state {
          width     : 50px;
          text-align: center;

          &.extended {
            width     : 60px;
            padding   : 0;
            text-align: left;
          }
        }

        span.volume-state {
          display     : inline-flex;
          padding-left: 10px;

          &>volume-meter {
            padding-right: 6px;
            padding-top  : 4px;
          }

          .fa-volume-up,
          .fa-microphone {
            width    : 8px;
            font-size: 13px;
          }

          .fa-microphone {
            padding-left: 1px;
          }

          .primary-color {
            color: @xivo-primary;
          }

          .dark-color {
            color: @xivo-dark;
          }

          .progress-bar-vertical {
            width        : 10px;
            height       : 25px;
            margin-bottom: 0px;
            display      : -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;
            /* NEW, Spec - Firefox, Chrome, Opera */
            align-items        : flex-end;
            -webkit-align-items: flex-end;
            /* Safari 7.0+ */
          }

          .progress-bar-vertical .progress-bar {
            height: 0%;
            width : 10px;
            -webkit-transition:
              height 0.6s ease;
            -o-transition: height 0.6s ease;
            transition   : height 0.6s ease;
          }

          .primary-background-color {
            background-color: @xivo-primary;
          }

          .dark-background-color {
            background-color: @xivo-dark;
          }
        }

        &.call-name {
          font-weight: bold;
          width      : auto;

          .call-party-name {
            white-space: nowrap;
            position   : relative;
            top        : -2px;
            height     : 19px;

            &.call-wrapped-name {
              white-space  : normal;
              overflow     : hidden;
              text-overflow: ellipsis;
              display      : flex;
            }

          }

        }

        .conference-name {
          display: inline;
        }

        .conference-participant-count {
          display: none;
        }

        &.call-duration-actions {
          width  : auto;
          padding: 0;

          span {
            display  : inline;
            font-size: 12px;
            color    : @xivo-dark-gray;
            padding  : 10px;
          }

          .call-actions {
            display: none;

            &.extended {
              width: 220px;
            }

            a {
              width     : 60px;
              height    : 50px;
              float     : right;
              font-size : 40px;
              text-align: center;

              &.call-hangup {
                background: #cd4747;

                img {
                  margin-bottom: 12px;
                  float : none;
                }
              }

              &.hangup-participants {
                height: 50px;
              }

              &.call-keyboard {
                color: @xivo-dark;
                left : 11px;

                img {
                  width         : 32px;
                  vertical-align: middle;
                  margin-bottom : 12px;
                }
              }

              &.call-hold,
              &.flashtext-bubble {
                i:hover {
                  color: #e67d39;
                }
              }

              &.conference-mute-all,
              &.conference-unmute-all {
                &:hover {
                  color: #e67d39;
                }
              }

              &.call-hold,
              &.conference-mute-all,
              &.conference-unmute-all {
                width: 50px;
                color: @xivo-dark;

                i {
                  vertical-align: middle;
                  margin-bottom : 13px;
                }
              }


              &.flashtext-bubble {
                color: @xivo-dark;
                width: 45px;

                i {
                  vertical-align: middle;
                  margin-bottom : 16px;
                  font-size     : 35px;
                }
              }

              &.call-transfer,
              &.call-conference,
              &.call-answer {
                color     : #fff;
                background: @xivo-primary;

                i {
                  vertical-align: middle;
                  margin-bottom : 12px;
                }

                &:hover {
                  background: @xivo-dark;
                }
              }

              &.call-transfer,
              &.call-answer {
                margin-left: 1px;
              }

              &.call-transfer,
              &.call-conference {
                font-size: 20px;

                i {
                  margin-top: 14px;
                }
              }
            }
          }
        }

        &.favorite a,
        &.call a[uib-dropdown-toggle] {
          color      : inherit;
          background : inherit;
          width      : @contact-line-height;
          height     : @contact-line-height;
          display    : inline-block;
          line-height: @contact-line-height;
        }
      }

      &.conferences.role-organizer {
        color: @xivo-primary;

        .call-state {
          color: @xivo-primary;
        }

        .call-party-name p {
          color: @xivo-primary;
        }
      }

      &.conferences.kicked {
        color: @xivo-dark-gray;
      }

    }
  }

  .call-control table tr:hover {
    background: #f5f5f5;
    color     : #555555;

    td {
      color: #555555;
    }

    &.conferences.kicked {
      color: @xivo-dark-gray;

      td {
        color: inherit;
      }
    }
  }

  .call-control table tr.conferences:hover {
    &.role-organizer td {
      color: @xivo-primary;
    }
  }

  .conferences {

    width: 100%;

    .call-state {
      display     : flex;
      color       : @xivo-dark-gray;
      margin-right: 15px;
    }

    .call-state p {
      color       : #555555;
      padding-left: 15px;
    }

    .conference-participant-muted {
      width       : 5%;
      padding-left: 7px;
    }

    .call-name {
      width       : auto;
      padding-left: 20px;
    }

    .call-duration-actions {
      width: auto;

      .call-actions {
        background: #f5f5f5;

        a {
          color: #595959;
        }

        .flashtext-bubble {
          margin-right: 8px;
        }

        .participant-mute-me:hover {
          color: #e67d39;
        }

        .managed-conferences {
          display       : flex;
          flex-direction: row-reverse;

          .flashtext-bubble {
            margin-right: 0px;
          }
        }
      }
    }

    table tr.conferences:hover {
      &.role-organizer td {
        color: @xivo-primary;
      }

      td.call-duration-actions span {
        display: inline;
      }
    }

  }
}

.logo-footer {
  position: relative;
  width   : 85px;
  height  : 25px;
  padding : 5px 20px;
}

.footer {
  background: linear-gradient(to top, #f6f6f6, #e1e1e1);
  height: 26px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  border-top: 1px solid #ccc;
  a {
    position: absolute;
    right: 20px;
    top: 3px;
    color: #959595;
    &:hover {
      color: #555555;
      cursor: pointer;
    }
  }
}

.version {
  position: absolute;
  line-height: 25px;
  font-size: 10px;
  color: #595959;
  right: 40px;
}

.fa-stack {
  font-size     : 20px;
  vertical-align: middle;
  margin-bottom : 12px;
}

