@()(implicit i18nMessages: Messages)

<script type="text/ng-template" id="agentsUpdateModalContent.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">×</button>
        <h3 class="modal-title">
            @i18nMessages("ccmanager.updateAgents.title")
        </h3>
        <div class="row">
            <div class="col-md-2" ng-repeat="agent in selectedAgents | orderBy:'lastName'">
                {{agent.lastName}} ({{agent.number}})
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form name="agentsAddQueueForm">
            <h3>@i18nMessages("ccmanager.updateAgents.addQueues")</h3>
            <table ng-table="queuesToAddTable" class="table table-striped table-condensed">
                <tr ng-repeat="queueToAdd in $data">
                    <td><span class="glyphicon glyphicon-trash" ng-click="removeQueueToAdd(queueToAdd)"></span></td>
                    <td data-title="'@i18nMessages("ccmanager.queueNumber")'" sortable="'queue.number'"> <span class="badge">{{queueToAdd.queue.number}}</span></td>
                    <td data-title="'@i18nMessages("ccmanager.queueDisplayName")'" sortable="'queue.displayName'"> {{queueToAdd.queue.displayName}}</td>
                    <td data-title="'@i18nMessages("ccmanager.queuePenalty")'" sortable="'penalty'">
                    <div><input class="form-control" type="number" ng-model="queueToAdd.penalty" ng-required="true" min="0" max="20" ng-change="validatePenalty(queueToAdd)"/></div>
                    </td>
                </tr>
            </table>
        </form>
        <hr>
        <form name="agentsRemoveQueueForm">
            <h3>@i18nMessages("ccmanager.updateAgents.removeQueues")</h3>
            <table ng-table="queuesToRemoveTable" class="table table-striped table-condensed">
                <tr ng-repeat="queueToRemove in $data">
                    <td><span class="glyphicon glyphicon-trash" ng-click="removeQueueToRemove(queueToRemove)"></span></td>
                    <td data-title="'@i18nMessages("ccmanager.queueNumber")'" sortable="'number'"> <span class="badge">{{queueToRemove.number}}</span></td>
                    <td data-title="'@i18nMessages("ccmanager.queueDisplayName")'" sortable="'displayName'"> {{queueToRemove.displayName}}</td>
                </tr>
            </table>
        </form>
        <hr>
        <form class="form-inline" name="addQueueToAgents"  ng-required="true" ng-submit="addQueueToAgents.$valid" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="editAgentsSelectQueue"> @i18nMessages("ccmanager.queue") </label>
                        <select class="form-control" id="editAgentsSelectQueue" ng-model="newQueue.queue" ng-required="true"
                                ng-options="queue.displayName for queue in auQueues | orderBy:'displayName'">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editAgentsSelectQueuePenaly"> @i18nMessages("ccmanager.queuePenalty") </label>
                        <input class="form-control" id="editAgentsSelectQueuePenaly" ng-model="newQueue.penalty" type="number"  ng-required="true" min="0" max="20">
                    </div>
                    <div class="form-group">
                        <button ng-click="addQueue()" type="submit" class="btn btn-sucess" ng-disabled="addQueueToAgents.$invalid"><span class="glyphicon glyphicon-plus"></span></button>
                        <button ng-click="addQueueToRemove()" class="btn btn-sucess" ng-disabled="addQueueToAgents.$invalid"><span class="glyphicon glyphicon-minus"></span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info pull-left" ng-click="applyUsersDefaultMembership()">@i18nMessages("ccmanager.applyUsersDefaultConfiguration")</button>
        <button class="btn btn-success" ng-click="ok()">@i18nMessages("ccmanager.save")</button>
        <button class="btn btn-warning" ng-click="cancel()">@i18nMessages("ccmanager.cancel")</button>
    </div>
</script>