@()(implicit i18nMessages: Messages)

<div>
    <div id="xivo-logo">
        <img src="@routes.Assets.versioned("images/xivo_logo.png")" />
        <img src="@routes.Assets.versioned("images/xivo_illustration.png")" />
    </div>
    <div id="xivo-description">
        @i18nMessages("login.description")
    </div>
    <login-form on-login="onLogin()" host-and-port="hostAndPort" error-code="error" use-sso="useSso" cas-server-url="casServerUrl" cas-logout-enable="casLogoutEnable" title="@i18nMessages("ccmanager.title")"/>
</div>


