@()

<script type="text/ng-template" id="queueDetailModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="modalCtrl.close()">×</button>
        <h3 class="modal-title modal-queue-title">
            {{modalCtrl.queue.displayName}} - {{modalCtrl.queue.number}}
        </h3>
    </div>
    <div class="modal-body modal-queue-body">
        <uib-tabset active="activeJustified" justified="true"> 
            <uib-tab index="0" heading="{{'QUEUE_INFO' | translate}}" > 

                <table class="table table-condensed modal-info-top">
                    <tr class= "modal-table">
                        <td><b>{{'QUEUE_MODAL_TECH_NAME' | translate}}</b></td>
                        <td>{{modalCtrl.queue.name}}</td>
                    </tr>
               
                    <tr>
                        <td><b>{{'QUEUE_MODAL_TIMEOUT' | translate}}</b></td>
                        <td>{{modalCtrl.queue.timeout || '-'}}</td>
                    </tr>
                </table>
            </uib-tab>
            
            <uib-tab ng-if="modalCtrl.showDissuasion" index="1" heading="{{'QUEUE_CONFIG' | translate}}">
                <table class="info-margin-top">
                    <tr>
                        <td>
                            <failed-destination activity="modalCtrl.queue" name="'FAILED_DESTINATION' | translate" 
                            class="failed-destination-titre">
                            </failed-destination>
                        </td>
                    </tr>     
                </table>    
            </uib-tab>    
                
        </uib-tabset>
        
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="modalCtrl.close()">{{'QUEUE_MODAL_CLOSE' | translate}}</button>
    </div>
</script>