@()

<div ng-controller="queueSelectCtrl" class="pull-right" ng-class="{'helper-highlight': helperVisible}" id="queue-selection" ng-cloak>
    <div class="helper-intro" ng-show="helperVisible"><span translate>MS_QUEUES_HELPER</span> <i class="fa fa-arrow-up" aria-hidden="true"></i></div>
    <div
        isteven-multi-select
        input-model="queues"
        output-model="queueSelection"
        button-label="displayName"
        max-labels="3"
        translation="multiLang"
        item-label="number - displayName"
        on-item-click="toggleQueue(data)"
        on-select-all="updateSelection()"
        on-select-none="updateSelection()"
        on-reset="updateSelection()"
        on-open="hideHelper()"
        tick-property="ticked"
        is-disabled="status.disabled"
    >
    </div>
</div>
