textarea {
  resize: vertical;
  font-family: roboto;
  padding: 10px;
  &::-webkit-input-placeholder { font-family: roboto; color: @color-lighter;}
  &::-moz-placeholder { font-family: roboto; color: @color-lighter;}

  &:focus {
    outline-color: @xivo-primary !important;
  }
}

.table-no-margin {
  height: auto;
  margin-bottom: 0px;
  width: 100%;  
}

.flashtext-buttons {
  position: relative;
}

.flashtext-close {
  position: absolute;
  top: 2px;
  padding: 2px;
  color: @xivo-dark-gray;

  &:hover {
    color: @xivo-primary;
  }
}

.reply-button {
  font-size:20px; 
  float: right;
  padding-right: 30px;

  &:hover, &:focus {
    text-decoration: none;
  }

}

.flashtext-info {
  padding-left: 30px;
  width: 90%;
  font-size: 15px;
}

.flashtext-message {
  font-size: 14px;
}

.flashtext-time {
  color: #555555;
}

.flashtext-user {
  font-weight: bold;
}

.modal.phone-overlay .modal-dialog .modal-content .modal-header  {
  text-align: left;
  font-weight: bold;
}

.modal.phone-overlay .modal-dialog .modal-content .modal-footer .send-flashtext {
  float: right;
  margin-right: 20px;

}

.modal.phone-overlay .modal-dialog .modal-content .modal-footer .close-modal-flashtext {
  float: left;
  margin-left: 20px;
}

/** toasts **/
.angularjs-toast ul.toast-container {
  top: 0px;
}


.toast-alert .alert, .angularjs-toast .alert {
  padding: 5px 35px;
  border-radius: 50px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  &.alert-dismissible {
    padding-right: 50px;

    & .close {
      padding: 5px 15px;
    }
  }

  & .close:focus, & .close:hover {
    color: inherit;
    opacity: 1;
  }
}


