.modal.phone-overlay {
    .modal-dialog {
      width: 100%;
      top: 221px;
      margin: 0;

        .modal-content {
            color: @color-normal;
            background-color: @xivo-light;
            border: 0;
            border-radius: 0;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

            .modal-header {
                border-bottom: 1px solid @modal-menu-dark-bg;
                text-align: center;

                .history {
                    height: 42px;

                    font-size: 30px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    text-align: center;
                    color: @color-light;
                }
            }

            .modal-body {
                border: 0;
                text-align: center;
                background-color: @background-phone-overlay;

                table {
                    width: 180px;
                    margin: 0 auto 0 auto;
                    td {
                        border: 0;
                        text-align: center;
                        img {
                            cursor: pointer;
                        }
                    }
                }
            }

            .modal-footer {
                text-align: center;
                border: 0;
                padding: 0;
                padding-bottom: 22px;
                background-color: @background-phone-overlay;
                .btn-primary {
                    background-color: @xivo-danger;
                    &:hover {
                        background-color: @xivo-primary;
                        color: @xivo-light;
                    }
                    color: @xivo-light;
                }
            }
        }
    }
}